.added-courses
    .added-course
        .remove-course
        .row
            .col-md-3
                .added-course__img
                    img(src="images/landing/article-img.jpg", alt="")
            .col-md-9.added-course-brief-wrapper
                a(href="#").h2.added-course__title Tự học thiết kế UX
                .added-course__brief
                    p.teacher Giảng viên: Phạm Quang Huy
                    .added-course__price
                        span.added-course__price__sale 800.000đ
                        span.added-course__price__original 1.000.000đ
                    .using-code
                        img(src="images/checked-green.png", alt="")
                        | Đã sử dụng mã giảm giá: SALEOFF40
                    .coupon-links.coupon-links--align-left
                        a(href="#").coupon-links__trigger Bạn có coupon giảm giá?
                        .coupon-links__input-wrapper
                            input(type="text" placeholder="Điền mã giảm giá").coupon-links__input
                            +button('Sử Dụng Mã')
    .added-course
        .remove-course
        .row
            .col-md-3
                .added-course__img
                    img(src="images/landing/article-img.jpg", alt="")
            .col-md-9.added-course-brief-wrapper
                a(href="#").h2.added-course__title “Trên tay” trọn bộ công thức, bí quyết pha trà sữa siêu ngon khiến giới trẻ phát cuồng
                .added-course__brief
                    p.teacher Giảng viên: Phạm Quang Huy
                    .added-course__price
                        span.added-course__price__sale 800.000đ
                        span.added-course__price__original 1.000.000đ
                    .using-code
                        img(src="images/checked-green.png", alt="")
                        | Đã sử dụng mã giảm giá: SALEOFF40
                    .coupon-links.coupon-links--align-left
                        a(href="#").coupon-links__trigger Bạn có coupon giảm giá?
                        .coupon-links__input-wrapper
                            input(type="text" placeholder="Điền mã giảm giá").coupon-links__input
                            +button('Sử Dụng Mã')
    .added-course
        .remove-course
        .row
            .col-md-3
                .added-course__img
                    img(src="images/landing/article-img.jpg", alt="")
            .col-md-9.added-course-brief-wrapper
                a(href="#").h2.added-course__title Tự học thiết kế UX
                .added-course__brief
                    p.teacher Giảng viên: Phạm Quang Huy
                    .added-course__price
                        span.added-course__price__sale 800.000đ
                        span.added-course__price__original 1.000.000đ
                    .using-code
                        img(src="images/checked-green.png", alt="")
                        | Đã sử dụng mã giảm giá: SALEOFF40
                    .coupon-links.coupon-links--align-left
                        a(href="#").coupon-links__trigger Bạn có coupon giảm giá?
                        .coupon-links__input-wrapper
                            input(type="text" placeholder="Điền mã giảm giá").coupon-links__input
                            +button('Sử Dụng Mã')
+buttonWithLink('chọn thêm khóa học').button-addmore-courses