.added-courses {
	@include whiteCard;
}

.added-course {
	position: relative;
	padding: 3rem 1.5rem;
	border-bottom: .1rem solid rgba(221, 221, 221, 0.6);

	@include max-md {
		padding: 2rem 1.5rem;
	}

	&__title {
		@include textBodyBig;
		font-weight: fontWeight(medium);
		margin-bottom: 2rem;
		display: inline-block;
		max-width: calc(100% - 2.5rem);

		&:hover {
			color: inherit;
		}
	}

	&__brief {
		p {
			margin-bottom: 0;
		}
	}

	&__price__sale {
		@include textBodyBig;
		color: color(primary, dark);
		font-weight: fontWeight(medium);
		margin-right: 1.5rem;
	}

	&__price__original {
		color: color(tertiary, light);
		text-decoration: line-through;
	}

	&__img {
		@include max-md {
			margin-bottom: 2rem;
		}

		img {
			width: 100%;
		}
	}

	.using-code {
        margin-top: 1rem;
        font-size: 1.2rem;
        color: color(tertiary, light);
		img {
            width: 1.5rem;
            margin-right: .5rem;
		}
    }
    .coupon-links {
        margin-top: 2rem;
        &__input {
            width: auto;
            min-width: 17.6rem;
        }
    }
}

.button-addmore-courses {
	margin-top: 3rem;
	margin-bottom: 3rem;

	@include max-md {
		margin-top: 1rem;
		position: relative;
		left: 50%;
		transform: translatex(-50%);
		flex-basis: 100%;
		width: 100%;
		text-align: center;
	}
}

.remove-course {
	width: 4rem;
	height: 4rem;
	position: absolute;
	top: 1rem;
	right: .5rem;
	@include clickedState;
	cursor: pointer;
	z-index: zIndex(dropdown);

	@include max-md {
		top: -1rem;
		right: -.5rem;
	}

	&:before,
	&:after {
		content: '';
		width: 2.2rem;
		height: .1rem;
		background-color: color(tertiary, dark);
		display: block;
		top: 50%;
		left: 25%;
		position: absolute;
	}

	&:before {
		transform: rotate(45deg);
	}

	&:after {
		transform: rotate(-45deg);
	}

}