.content-expand {
    border: .1rem solid #E5E5E5;
    margin-bottom: 1rem;
    &.collapse &__title {
        img {
            transform: rotate(-90deg);
        }
    }
	&__title {
		background-color: #E5E5E5;
        padding: .8rem 1rem;
        cursor: pointer;

		img {
            margin-right: 1.5rem;
            transition: $transition;
		}
	}

	&__chap-title {
		width: 70%;
	}

	ul {
		color: #666666;
		padding: 1rem 0;
		font-weight: fontWeight(light);

		li {
			padding: .8rem 1rem;
			display: flex;
		}
	}

	&__chap-title {
		&:before {
            content: '';
            width: .5rem;
            height: .65rem;
            background: url(../images/triangle_right.png);
            background-size: cover;
            display: inline-block;
            transform: translateY(-.1rem);
            margin-right: 1.5rem;
            margin-left: .2rem;
		}
	}

	&__chap-title a {
		color: inherit;
	}

	&__trial {
        color: color(primary, dark);
        cursor: pointer;
	}

	&__time {
		margin-left: auto;
	}
}