mixin contentExpand(title = 'default title')
    .content-expand
        .content-expand__title 
            img(src="images/expand_more.svg", alt="")
            = title
        ul
            li 
                .content-expand__chap-title 
                    a(href="#") Bài 1: Những hiểu biết cơ bản về UX và thiết kế UX
                .content-expand__trial Học thử
                span.content-expand__time 00:02:57
            li 
                .content-expand__chap-title 
                    a(href="#") Bài 2: Giới thiệu khóa học
                .content-expand__trial Học thử
                span.content-expand__time 00:02:57
            li 
                .content-expand__chap-title 
                    a(href="#") Bài 3: UX trong cuộc sống
                .content-expand__trial Học thử
                span.content-expand__time 00:02:57
            li 
                .content-expand__chap-title 
                    a(href="#") Bài 4: Thiết kế UX là gì
                span.content-expand__time 00:02:57
            li 
                .content-expand__chap-title 
                    a(href="#") Bài 5: Một UX tốt là gì
                span.content-expand__time 00:02:57
            li 
                .content-expand__chap-title 
                    a(href="#") Bài 6: Điều gì sẽ tạo ra 1 UX tốt
                span.content-expand__time 00:02:57
            li 
                .content-expand__chap-title 
                    a(href="#") Bài 7: Các vị trí (role) trong UX
                span.content-expand__time 00:02:57

    