.course-active {
	text-align: center;
    padding-top: 3rem;
    margin-bottom: 7rem;
    @include max-md {
        margin-bottom: 3rem;
        padding-top: 1.5rem;
    }
    .active-steps {
        display: flex;
        margin-top: 3rem;
        justify-content: center;
        li {
            @include centerContent;
            margin: 0 2rem;
            width: 16rem;
            @include max-md {
                width: 33%;
                margin: 0 .5rem;
            }
            span {
                font-size: 1.8rem;
                font-weight: fontWeight(light);
                @include max-md {
                    font-size: 1.4rem;
                    height: 4.2rem;
                }
            }
        }
        position: relative;
        &:before {
            content: '';
            position: absolute;
            top: 5rem;
            left: 0;
            width: 100%;
            border-top: .1rem dashed #CBCFD4;
            z-index: zIndex(underGround);
            @include max-md {
                top: 2.5rem;
            }
        }
    }
	.circle {
		width: 10rem;
		height: 10rem;
		border-radius: 50%;
		background-color: color(secondary, light);
		font-size: 2.4rem;
		color: #666666;
		display: flex;
		align-items: center;
        justify-content: center;
        border: .1rem dashed;
        margin-bottom: 3rem;
        @include max-md {
            width: 5rem;
            height: 5rem;
            margin-bottom: 1.5rem;
        }
        &.active {
            background-color: color(primary, main);
            color: $c-white;
            border: none;
        }
	}
}

.cta-section {
	padding: 3rem;
	text-align: center;
    background-color: $c-white;
    box-shadow: $small-box-shadow;
    @include max-md {
        padding: 1.5rem;
    }
	input {
        text-align: center;
        margin-top: 3rem;
        margin-bottom: 4rem;
        @include max-md {
            margin-top: 1.5rem;
            margin-bottom: 2rem;
        }
    }
    h1 {
        margin-bottom: 1rem;
    }
    .btn {
        margin-bottom: 3rem;
        @include max-md {
            margin-bottom: 1.5rem;
        }
    }

}