.animated {
	-webkit-animation-duration: 800ms;
	animation-duration: 800ms;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
    opacity: 0;
    &.reveal {
        opacity: 1;
        &:before {
            width: 0;
        }
    }
}

.animated-mid {
	-webkit-animation-duration: 600ms;
	animation-duration: 600ms;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
	opacity: 0;
}

.animated-fast {
	-webkit-animation-duration: 400ms;
	animation-duration: 400ms;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
	opacity: 0;
}

.animated.infinite {
	-webkit-animation-iteration-count: infinite;
	animation-iteration-count: infinite;
}

@keyframes fadeInDown {
	from {
		opacity: 0;
		-webkit-transform: translate3d(0, -20px, 0);
		transform: translate3d(0, -20px, 0);
	}
	to {
		opacity: 1;
		-webkit-transform: translate3d(0, 0, 0);
		transform: translate3d(0, 0, 0);
	}
}

.fadeInDown {
	-webkit-animation-name: fadeInDown;
	animation-name: fadeInDown;
}

@keyframes fadeInUp {
	from {
		opacity: 0;
		-webkit-transform: translate3d(0, 30px, 0);
		transform: translate3d(0, 30px, 0);
	}
	to {
		opacity: 1;
		-webkit-transform: translate3d(0, 0, 0);
		transform: translate3d(0, 0, 0);
	}
}

.fadeInUp {
	-webkit-animation-name: fadeInUp;
	animation-name: fadeInUp;
}

@keyframes fadeIn {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

.fadeIn {
	-webkit-animation-name: fadeIn;
	animation-name: fadeIn;
}

@keyframes fadeInLeft {
	from {
		opacity: 0;
		-webkit-transform: translate3d(-15px, 0, 0);
		transform: translate3d(-15px, 0, 0);
	}
	to {
		opacity: 1;
		-webkit-transform: translate3d(0, 0, 0);
		transform: translate3d(0, 0, 0);
	}
}

@keyframes fadeInLeftMargin {
	from {
        opacity: 0;
        margin-left: -15px;
	}
	to {
		opacity: 1;
		margin-left: 0;
	}
}

@keyframes fadeToRight {
	from {
		opacity: 0;
		-webkit-transform: translate3d(0, 0, 0);
		transform: translate3d(0, 0, 0);
	}
	to {
		opacity: 1;
		-webkit-transform: translate3d(20px, 0, 0);
		transform: translate3d(20px, 0, 0);
	}
}

.fadeInLeft {
	-webkit-animation-name: fadeInLeft;
	animation-name: fadeInLeft;
}

.fadeInLeftMargin {
	-webkit-animation-name: fadeInLeftMargin;
	animation-name: fadeInLeftMargin;
}

.fadeToRight {
	-webkit-animation-name: fadeToRight;
	animation-name: fadeToRight;
}



// delay
@for $i from 0 through 10 {
	.delay-#{$i} {
		animation-delay: 250ms * $i;
	}
}

@for $i from 0 through 10 {
	.small-delay-#{$i} {
		animation-delay: 150ms * $i;
	}
}