.btn {
	border: none;
	outline: none;
	text-transform: uppercase;
	display: inline-block;
	cursor: pointer;
	font-size: 1.4rem;
	padding: 1.1rem 4.5rem;
	position: relative;
	z-index: zIndex(ground);
    border-radius: $border-radius;
    white-space: nowrap;
	&--primary {
		background-color: $c-button-bg;
        color: $c-button-text;
        @include buttonHover($c-button-bg, $c-button-text);
        padding-top: 1rem;
        padding-bottom: 1rem;
    }
    &--secondary {
		background-color: $c-white;
        color: $c-button-secondary-text;
        border: .1rem solid $c-button-secondary-border;
        @include buttonHover($c-white, $c-button-secondary-text);
    }
    &--tertiary {
		background-color: transparent;
        color: $c-white;
        border: .1rem solid color(tertiary, light);
        @include buttonHover(rgba(255, 255, 255, .15), $c-white);
	}
	&--text-white {
		color: $c-white;
		&:hover {
			color: $c-white;
		}
	}
	&--align-center {
		margin-left: auto;
		margin-right: auto;
		display: block;
    }
    &--small {
        font-size: 1.2rem;
        padding: .6rem 1.5rem;
    }
	
}