.change-pass, .reset-pass {
    h1 {
        text-align: center;
        margin-bottom: 4rem;
    }
    button {
        display: block;
        margin: auto;
        margin-top: 3rem;
    }
    .form-group {
        margin-bottom: 2rem;
    }
}