.section-anchor {
    background-color: $c-white;
    display: flex;
    justify-content: space-between;
    margin-bottom: 3rem;
    z-index: zIndex(dropdown);
    &.is_stuck {
        box-shadow: $small-box-shadow;
    }
    li {
        font-size: 1.6rem;
        color: color(tertiary, light);
        cursor: pointer;
        font-weight: fontWeight(medium);
        text-align: center;
        flex: 1;
        padding: 0.8rem 0;
        transition: border 0.4s ease-in-out;
        border-bottom: .1rem solid transparent;
        @include clickedState;
        &.active {
            color: color(primary, dark);
            border-color: color(primary, dark);
        }
    }
}
