.dropdown {
	position: relative;
    color: $c-dropdown-text;
    display: inline-block;
    margin-bottom: 2rem;
	&__btn,
	&-menu__item {
		border: 1px solid $c-dropdown-border;
		background-color: $c-dropdown-bg;
		border-radius: .3rem;
		padding: 1.1rem 1.5rem;
		display: block;
		color: inherit;
		cursor: pointer;
		position: relative;
        z-index: zIndex(ground);
        white-space: nowrap;
		@include buttonHover($c-dropdown-bg);
		&:hover {
			color: inherit;
		}
    }
    &__btn {
        width: 100%;
        text-align: left;
        padding-right: 4rem;
        &:after {
            @include dropdownArrow();
        }
    }
	&-menu {
		position: absolute;
		top: 100%;
        left: 0;
        overflow: hidden;
        height: 0;
        transition: $transition-fast;
        z-index: zIndex(dropdown);
        min-width: 100%;
		&__item {
			border-top: none;
		}
    }
    &--size-big {
        width: map-get($dropdownSize, big)
    }
    &--align-center {
        margin-left: auto;
        margin-right: auto;
        display: block;
    }
    &--circle-img {
        margin: 0;
        cursor: pointer;
        &.show i {
            transform: rotate(180deg);
        }
    }
    &--circle-img &__img {
        padding: 0;
        width: 4.8rem;
        overflow: hidden;
        border-radius: 50%;
        cursor: pointer;
    }
    &--circle-img i {
        color: $c-white;
        font-size: 6px;
        margin-left: 1.5rem;
        transition: $transition;
        display: inline-block;
    }
    &--align-right &-menu{
        left: auto;
        right: 0;
    }
}