.form-group {
    label {
        font-size: fonts(caption, fontSize);
        color: $c-form-input-label;
        text-transform: uppercase;
        letter-spacing: 0.1rem;
        margin-bottom: 0;
        cursor: pointer;
        @include clickedState;
    }
    &--has-view-pass {
        position: relative;
        .view-pass {
            position: absolute;
            top: 2.1rem;
            right: 0;
            width: 4.2rem;
            padding: 1rem;
            cursor: pointer;
            @include clickedState;
        }
        input {
            padding-right: 4rem;
        }
    }

    input:not([type="checkbox"]),
    input:not([type="radio"]),
    select,
    textarea {
        width: 100%;
        background: none;
        border: none;
        border-bottom: 0.1rem solid rgba(29, 29, 38, 0.1);
        color: $c-form-input-text;
        border-radius: 0;
        padding-left: 0;
        &.readonly {
            color: #9c9c9c;
            background: #efefef;
            pointer-events: none;
        }
    }

    textarea {
        min-height: 6rem;
        border: 0.1rem solid rgba(29, 29, 38, 0.1);
        padding: 1rem;
    }

    select {
        -webkit-appearance: none;
        border-radius: 0.3rem;
        background: url("../images/expand_more.svg") no-repeat calc(100% - 1rem)
            center;
    }

    .rounded-box {
        [type="checkbox"],
        [type="radio"] {
            position: absolute;
            visibility: hidden;

            &:checked + .rounded-box__checkbox {
                &:after {
                    opacity: 1;
                }
            }
        }

        &__checkbox {
            width: 1.6rem;
            height: 1.6rem;
            border-radius: 50%;
            border: 0.2rem solid color(tertiary, light);
            position: relative;
            float: left;
            margin-right: 1rem;

            &:after {
                content: "";
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                background: color(tertiary, light);
                width: 0.7rem;
                height: 0.7rem;
                border-radius: 50%;
                opacity: 0;
            }
        }
    }

    .rounded-box {
        clear: both;
        color: color(tertiary, dark);

        &__checkbox {
            border-color: color(tertiary, dark);
            border-width: 0.15rem;

            &:after {
                background-color: color(tertiary, dark);
            }
        }
    }

    label {
        color: color(tertiary, dark);
        font-size: 1.4rem;
        text-transform: none;
    }
}
