// functions
@function color($color-name, $color-variant) {
	@return map-get(map-get($colors, $color-name), $color-variant);
}

@function fontWeight($weight) {
	@return map-get($font-weight, $weight);
}

@function zIndex($el-type) {
	@return map-get($index, $el-type);
}

@function fontSize($elementType) {
	@return map-get($fonts, $elementType);
}

@function fonts($el-type, $el-prop:regular) {
	@return map-get(map-get($fonts, $el-type), $el-prop);
}