* {
	outline: none !important;
	letter-spacing: $letter-spacing-base;
}
[class^="icon-"], [class*=" icon-"] {
    &:before {
        color: inherit;
    }
}
a {
	text-decoration: none;
	position: relative;

	&:hover {
		text-decoration: none;

		&:before {
			width: 100%;
		}
	}

	&:before {
		content: "";
		position: absolute;
		top: calc(100% + 0.2rem);
		left: 0;
		width: 0;
		height: 0.1rem;
		background-color: color(tertiary, light);
		transition: $transition-fast;
	}

	&.no-underline {
		text-decoration: none;

		&:before {
			visibility: hidden;
		}
	}

	&:active {
		@include clickedState();
	}
}

img {
	max-width: 100%;
	width: auto;
	height: auto;
}

.tac {
	text-align: center;
}

@for $i from 1 through 6 {

	.h#{$i},
	h#{$i} {
		color: $c-heading;
		line-height: 1.3;
		font-size: fonts(h#{$i}, fontSize);
		font-weight: fonts(h#{$i}, fontWeight);

		@include max-md {
			font-size: fonts(h#{$i}, fontSizeM);
		}
	}
}

p {
	line-height: 1.2;
}

.section {
	padding: map-get($section, spaceTopBot) 0 0;

	&__title {
		text-align: center;
		text-transform: uppercase;
		font-weight: fontWeight(bold);
		margin-bottom: 3rem;
	}

	&--no-space-bottom {
		margin-bottom: -3rem;
	}
}

.icon-md-star,
.icon-md-star-half,
.icon-md-star-outline {
	color: $c-icon-star;
	font-size: 1.7rem;
}

// input:not([type="checkbox"]) {
[type="text"],
[type="email"],
[type="password"],
select {
	max-width: 100%;
	padding: 0 1rem;
	border: none;
	border-radius: $border-radius;
	height: 4.2rem;
	font-size: 1.4rem;
	color: $c-input-text;

	@include max-lg {
		height: 3.7rem;
	}
}

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.layout-no-banner {
	padding-top: $header-height-m;
}

.j-form-validation {
	span.error {
		color: color(primary, main);
		font-size: 1.4rem;
		margin-top: 0.5rem;
		display: inline-block;
	}
}

.iframe-responsive {
	padding-top: 56.25%;
	position: relative;

	&:before {
		// content: '';
		// position: absolute;
		// top: 0;
		// left: 0;
		// width: 100%;
		// height: 100%;
		// background-color: rgba(0, 0, 0, .5);
		// z-index: zIndex(iframeThumbnail) + 1;
	}

	&__img {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		z-index: zIndex(iframeThumbnail);
	}

	iframe {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}

	.icon-play {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		cursor: pointer;
		z-index: zIndex(iframeThumbnail) + 2;
		@include clickedState;
	}
}

.card {
	padding: 2rem;
	border: none;
	border-radius: 0;
	margin-bottom: 3rem;
	position: relative;
	box-shadow: $small-box-shadow;

	&.card-readmore {
		padding-bottom: 6rem;
	}

	&__title {
		font-size: 1.6rem;
		color: color(tertiary, dark);
		font-weight: fontWeight(medium);
		margin-bottom: 3rem;
	}

	&__readmore-btn {
		width: 100%;
		border-top: 0.1rem solid #d7d7d7;
		position: absolute;
		bottom: 0;
		left: 0;
		// padding: 1rem 0;
		color: color(tertiary, main);
		text-align: center;
		cursor: pointer;

		button {
			width: 100%;
			border: none;
		}
	}
}

.bar-container {
	height: 1.4rem;
	background-color: #E5E5E5;
	border-radius: .2rem;
	position: relative;
	width: 100%;

	span {
		position: absolute;
		top: 0;
		left: 0;
		background-color: color(secondary, main);
		height: 100%;
	}
}
aside {
    z-index: zIndex(ground) + 1;
}
.sidebar-left {
	aside {
		&.is_stuck {
			margin-top: 0 !important;
		}

		@include max-md {
			margin-top: 2rem !important;
		}
	}
}
.tac {
    text-align: center;
}

.text-big {
    @include textBodyBig;
}
.bg-white {
    background-color: #fff;
}

.layout-no-banner {
    padding-top: $header-height;
}