.learning-wrapper {}

.learning {
    display: flex;
    min-height: 100vh;

	@include max-md {
		flex-direction: column;
	}

	&--full-view &-assets {
		padding: 0;
		width: 0;
		overflow: hidden;
		opacity: 0;
		transition: width .6s ease-in-out, padding .6s ease-in-out, opacity .2s ease-in-out 0s;
	}

	&-asset-content {
		margin: 0 -1.5rem;

		&.asset-document {
			display: none;
		}
	}

	&-video {
		background-color: color(tertiary, dark);
		padding: 1.5rem;
		color: $c-white;
		flex: 1;
		transition: $transition;
	}

	&-assets {
		width: 35rem;
		padding: 0 1.5rem;
		transition: width .6s ease-in-out, padding .6s ease-in-out, opacity .4s ease-in-out .6s;
        @include max-lg {
            width: 25rem;
        }
		@include max-md {
			width: 100%;
		}

		&__title {
			display: flex;
			font-size: 1.6rem;
			margin-bottom: 2rem;
			margin: 0 -1.5rem;

			li {
				padding: 1.3rem 1rem;
				flex: 1;
				text-align: center;
				font-weight: fontWeight(medium);
				color: color(tertiary, light);
				cursor: pointer;
				border-bottom: .1rem solid;
				@include clickedState;
				transition: $transition-fast;

				&.active {
					color: color(primary, dark);
					border-bottom: .1rem solid color(primary, dark);
				}

				&:first-child {
					i {
						font-size: 1.2rem;
					}
				}
			}
		}
	}
}

.learning-video-tool {
	display: flex;
	align-items: center;
	margin-bottom: 1rem;

	&__back {
		color: $c-white;
		padding: .3rem 0;
		margin-right: auto;

		&:before {
			background: $c-white;
		}

		&:hover {
			color: $c-white;
		}

		img {
			width: 2rem;
			margin-right: .5rem;
		}
	}

	&__fullview {
		padding: .5rem 1rem;
		cursor: pointer;

		@include max-md {
			display: none;
		}
	}

}

.learning-video__navigator {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 1.5rem;
	padding-bottom: 0;

	.btn {
		min-width: 12rem;
		margin: 0 1rem;
		display: flex;
		justify-content: center;
        align-items: center;
        i {
            margin: 0 .5rem;
        }

        &.previous-course {
            i {
                transform: rotate(180deg);
                margin-top: -.4rem;
            }
        }

		&--disabled {
			opacity: .8;
			pointer-events: none;
			border-color: #464646;
			color: #4a4a4a;
		}
	}
}

.learning-assets-courses {
	&__part-name {
		background-color: #E6E6E6;
		padding: 1rem 1.5rem;
	}

	ul {
		li {
			padding: .5rem 1.5rem;
			padding-left: 3.5rem;
			border-bottom: 1px solid #ddd;
			@include clickedState;
			cursor: pointer;
			position: relative;
			&:hover , &.active {
				span {
					color: color(tertiary, dark);
					font-weight: fontWeight(medium);
				}
			}

			&.done {
				&:before {
					color: color(secondary, main);
					content: "\e91a";
					font-size: 1.4rem;
				}
			}

			&:before {
				content: "\e910";
				font-family: 'icomoon' !important;
				font-style: normal;
				font-weight: normal;
				font-variant: normal;
				text-transform: none;
				line-height: 1;
				color: #999;

				/* Better Font Rendering =========== */
				-webkit-font-smoothing: antialiased;
				-moz-osx-font-smoothing: grayscale;
				position: absolute;
				top: auto;
				left: auto;
				top: .9rem;
				left: 1.5rem;
				font-size: 1.2rem;
			}

			&:last-child {
				border: none;
			}

			a {
				color: inherit;
			}

			span {
				display: block;
				margin-bottom: .4rem;
				color: #666;
			}
		}
	}

	&__sub {
		display: flex;
		color: #c6c6c6;

		i {
			font-size: 1.2rem;
		}

		time {
			margin-right: 1rem;
			display: flex;
			align-items: center;
			font-size: 1.2rem;

			i {
				margin-right: .5rem;
			}
		}

		.comment {
			display: flex;
			align-items: center;
		}
	}
}