.forms-container {
    padding-top: 5rem;
    @include max-md {
        padding-top: 3rem;
    }
    h1 {
        font-size: 4.6rem;
        color: color(primary, main);
        font-weight: fontWeight(light);
        margin-bottom: 4rem;
        @include max-lg {
            font-size: 4rem;
        }
        @include max-md {
            font-size: 3.6rem;
            margin-bottom: 2.5rem;
        }
    }
    .form-group {
        margin-bottom: 3rem;
        @include max-md {
            margin-bottom: 1.5rem;
        }
    }
    .form-btns {
        padding-top: 3rem;
        color: color(tertiary, light);
        @include max-md {
            padding-top: 1.5rem;
        }
    }
    .signup-links {
        margin-top: 2rem;
        font-size: 1.4rem;
        color: color(tertiary, light);
        letter-spacing: .025rem;
        @include max-md {
            margin-top: 1rem;
        }
        a {
            &:hover {
                &:before {
                    background-color: $c-link-hover;
                }
            }
        }
    }
}
.form-signup {
    button {
        margin-right: 1.5rem;
    }
}
.login-links {
    display: flex;
    justify-content: space-between;
    color: color(tertiary, light);
    font-size: 1.4rem;
    label {
        text-transform: none;
        font-size: inherit;
        display: flex;
        align-items: center;
    }
    a {
        color: inherit;
        font-size: inherit;
    }
}