// Mobile first approach
@mixin min-sm {
	@media (min-width: #{map-get($grid-breakpoints, sm)}) {
		@content;
	}
}

@mixin min-md {
	@media (min-width: #{map-get($grid-breakpoints, md)}) {
		@content;
	}
}

@mixin min-lg {
	@media (min-width: #{map-get($grid-breakpoints, lg)}) {
		@content;
	}
}

@mixin min-xl {
	@media (min-width: #{map-get($grid-breakpoints, xl)}) {
		@content;
	}
}

@mixin min-xxl {
	@media (min-width: #{$xxl-breakpoint}) {
		@content;
	}
}

// End Mobile first approach
// Desktop first approach
@mixin max-sm {
	@media (max-width: #{map-get($grid-breakpoints, sm)}) {
		@content;
	}
}

@mixin max-md {
	@media (max-width: #{map-get($grid-breakpoints, md) - 1}) {
		@content;
	}
}

@mixin max-lg {
	@media (max-width: #{map-get($grid-breakpoints, lg) - 1}) {
		@content;
	}
}

@mixin max-xl {
	@media (max-width: #{map-get($grid-breakpoints, xl) - 1}) {
		@content;
	}
}

// End Desktop first approach
@mixin translateX($left) {
	-webkit-transform: translateX($left);
	-moz-transform: translateX($left);
	-ms-transform: translateX($left);
	-o-transform: translateX($left);
	transform: translateX($left);
}

@mixin translateY($top) {
	-webkit-transform: translateY($top);
	-moz-transform: translateY($top);
	-ms-transform: translateY($top);
	-o-transform: translateY($top);
	transform: translateY($top);
}

@mixin translate2D($x, $y) {
	-webkit-transform: translate($x, $y);
	-moz-transform: translate($x, $y);
	-ms-transform: translate($x, $y);
	-o-transform: translate($x, $y);
	transform: translate($x, $y);
}

@mixin rotate($deg) {
	-webkit-transform: rotate($deg);
	-moz-transform: rotate($deg);
	-ms-transform: rotate($deg);
	-o-transform: rotate($deg);
	transform: rotate($deg);
}

@mixin buttonHover($backgroundColor, $textHoverColor: null) {
	&:hover {
		@if($textHoverColor) {
			color: $textHoverColor;
		}

		&:before {
			width: 100%;
		}
	}

	&:before {
		content: "";
		position: absolute;
		top: 0;
		left: 0;
		background-color: darken($backgroundColor, 5%);
		z-index: zIndex(underGround);
		width: 0;
		height: 100%;
		transition: width 0.25s ease-in-out;
		border-radius: $border-radius;
	}

	&:active {
		&:before {
			box-shadow: inset 0px -1px 30px 0px darken($backgroundColor, 20%);
		}
	}

	&--is-loading {
		background-color: lighten($backgroundColor, 25%);

		&:before {
			background-color: lighten($backgroundColor, 25%);
		}

		pointer-events: none;
	}

	&.btn--is-loading .btn__progress {
		width: 100%;
		transition: width 2s ease-in-out;
	}

	.btn__progress {
		position: absolute;
		top: 0;
		left: 0;
		width: 0;
		height: 100%;
		background-color: darken($backgroundColor, 10%);
		z-index: -1;
	}
}

@mixin dropdownArrow() {
	content: "";
	display: inline-block;
	width: 0;
	height: 0;
	margin-left: 0.255em;
	vertical-align: 0.255em;
	border-top: 0.3em solid;
	border-right: 0.3em solid transparent;
	border-bottom: 0;
	border-left: 0.3em solid transparent;
	position: absolute;
	top: 50%;
	right: 1.5rem;
}

@mixin clickedState() {
	&:not(.btn):active {
		opacity: 0.6;
	}
}

@mixin searchIcon() {
	content: "\e907";
	font-family: "icomoon" !important;
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

@mixin rightArrow() {
	&:after {
		content: "";
		display: block;
		background: url(../../images/carousel-arrow.svg);
		width: 1.1rem;
		height: 1.8rem;
		float: right;
		transform: rotate(-90deg);
		margin-top: 0.2rem;
		margin-right: 1rem;
		transition: $transition-fast;
	}
}

@mixin textBodyBig() {
	font-size: fonts(bodyBig, fontSize);

	@include max-md {
		font-size: fonts(bodyBig, fontSizeM);
	}
}

@mixin whiteCard {
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.24);
	background-color: #fff;
}

@mixin centerContent($direction: column) {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: $direction;
}