.profile-user__img-wraper {
    position: relative;
    &:hover {
        .profile-user__upload {
            transform: rotateY(0);
        }
        .profile-user__img {
            transform: rotateY(-180deg);
        }
    }
}
.profile-user {
    max-width: 28rem;
    margin: auto;
    margin-bottom: 2rem;
    &__img {
        border-radius: 50%;
        overflow: hidden;
        position: relative;
        backface-visibility: hidden;
        transform-style: preserve-3d;
        transform: rotateY(0);
        transition: $transition;
        > img {
            width: 100%;
        }
    }
    &__upload {
        position: absolute;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: #efefef;
        border-radius: 50%;
        overflow: hidden;
        border: 1px solid #ddd;
        @include centerContent;
        backface-visibility: hidden;
        transform-style: preserve-3d;
        transform: rotateY(-180deg);
        transition: $transition;
        img {
            width: 10rem;
        }
        input[type="file"] {
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            width: 100%;
            border-radius: 50%;
            overflow: hidden;
            opacity: 0;
            cursor: pointer;
        }
    }
    &__name {
        text-align: center;
        margin-top: 1rem;
        font-weight: fontWeight(light);
        margin-bottom: 0;
        @include max-md {
            font-size: 2rem;
        }
    }
    &__title {
        display: block;
        text-align: center;
        font-weight: fontWeight(light);
        color: color(tertiary, light);
        font-size: 1.2rem;
    }
}
.profile {
    padding-top: 4rem;
}
.form-profile {
    .radio-group {
        margin-top: 1rem;
    }
    .form-group {
        margin-bottom: 2rem;
        width: 100%;
        textarea {
            margin-top: 1rem;
        }
        .rounded-box {
            margin-right: 2rem;
        }
    }
}
