.layout-sidebar {
	padding-top: $header-height;

	&-brief {
		background-color: $c-white;
		padding: 3rem 0;
		box-shadow: $sidebar-box-shadow;

		h1 {
			font-weight: fontWeight(medium);
			margin-bottom: 2rem;
		}

		.article-content-info__rating {
			span {
				color: color(tertiary, dark);
			}
		}
	}

	.right-content {
		padding-top: 3rem;

		>.section {
			&:first-child {
				@include max-md {
					padding-top: 0;
				}
			}
		}
	}

	&.right &-brief {
		margin-bottom: 3rem;
		padding-top: 1.7rem;
		padding-bottom: 1.7rem;

		h1 {
			margin-bottom: 0;
			font-size: 2rem;
		}
	}

	&.right {
		.sidebar-right {
			.sidebar-container {
				padding: 2.5rem $grid-gutter-width/2;
			}

			button {
				width: 100%;
			}
		}

		.sidebar__total-price {
			margin-bottom: 1.5rem;
		}

		.sidebar__price {
			color: color(primary, dark);
			font-weight: fontWeight(regular);
			margin-bottom: 2rem;
		}

	}
}



.sidebar-container {
	background-color: #f6f6f6;
	box-shadow: $sidebar-box-shadow;
}

.learner-belongs-list {
	padding: 2rem 0;

	@include max-md {
		padding-bottom: 0;
	}

	li {
		padding: 1rem 2rem;
		cursor: pointer;
		margin-bottom: 0.8rem;

		&.active {
			background-color: $c-white;
			box-shadow: $sidebar-box-shadow;
			border-left: 0.5rem solid color(primary, dark);
		}

		a {
			color: inherit;
		}
	}
}

.learner-profile {
	background-color: color(secondary, light);
	display: flex;
	min-height: 23rem;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	color: color(primary, dark);
	padding: 3rem 1rem;

	&--teacher {
		background-color: transparent;
	}

	&__pic {
		width: 10rem;
		height: 10rem;
		background-size: cover;
		background-position: center center;
		border-radius: 50%;
		border: 0.2rem solid white;
		margin-bottom: 1rem;
	}

	&__name {
		color: inherit;
		margin-bottom: 1rem;
		text-align: center;
	}

	ul {
		display: flex;

		li {
			padding: 0 1rem;
			line-height: 1;

			&:first-child {
				border-right: 0.1rem solid;
			}
		}
	}
}

.sidebar-course {

	&__price {
		padding: 1rem 2rem;
		color: color(primary, dark);
		margin-bottom: 0;
		border-bottom: .1rem solid #D7D7D7;
	}

	&__info {
		padding: 2rem;

		ul {
			margin-bottom: 3rem;

			li {
				margin-bottom: 1rem;
				font-weight: fontWeight(regular);
			}
		}

		button {
			width: 100%;
			margin-bottom: 1.5rem;
			padding-left: 0;
			padding-right: 0;
		}
	}
}

.coupon-links {
    text-align: center;
    
    a {
        color: color(primary, dark);
        font-weight: fontWeight(regular);
        margin-bottom: .5rem;
        display: block;

        &:before {
            background-color: color(primary, dark);
            visibility: hidden;
        }
    }
    &__input {
        width: 100%;
        margin-bottom: .5rem;
        border: .1rem solid color(tertiary, light);
        text-align: center;
    }
    &__input-wrapper {
        display: none;
    }
    &--align-left {
        text-align: left;
    }
}