.teacher {
    padding-top: 3rem;
}

.top-information {
    margin-bottom: 3rem;

    &__block {
        box-shadow: $sidebar-box-shadow;
        padding: 5rem 1rem;
        background-color: $c-white;
        @include centerContent;

        @include max-lg {
            padding: 2rem 1rem;
        }

        @include max-md {
            padding: 1rem;
            margin-bottom: 0.1rem;
        }

        span {
            font-size: 1.6rem;
            font-weight: fontWeight(medium);
        }

        h1 {
            font-weight: fontWeight(medium);
            color: color(primary, dark);

            @include max-lg {
                font-size: 2.6rem;
            }

            @include max-md {
                font-size: 2rem;
            }
        }
    }
}

.page-title {
    text-align: center;
    margin-bottom: 4rem;
}

.teacher-filter {
    background-color: $c-white;
    padding: 1rem;
    margin-bottom: 3rem;
    box-shadow: $sidebar-box-shadow;

    .form-group {
        @include max-md {
            margin-bottom: 1rem;
            display: block;
        }

        label {
            margin-right: 2rem;
            align-items: center;
            display: flex;

            @include max-md {
                width: 100%;
                margin: 0;
                margin-bottom: 1rem;
                flex-direction: column;
            }
        }

        input,
        select {
            border: 0.1rem solid rgba(29, 29, 38, 0.1);
            border-radius: 0.3rem;
            padding: 0 1rem;
        }

        display: flex;

        select {
            flex: 1;
            width: auto;

            @include max-md {
                width: 100%;
            }
        }
    }

    .btn-filter {
        margin-left: 1rem;

        @include max-md {
            margin: auto;
            display: block;
            margin-top: 2rem;
        }
    }
}

.teacher-content-list__table-wrapper {
    margin: 0 -1rem;
    padding: 0 1rem;
    overflow: auto;
}

.teacher-content-list {
    background-color: $c-white;
    padding: 1rem;
    padding-top: 2rem;
    box-shadow: $sidebar-box-shadow;

    &__table {
        margin: 0 -1rem;
        margin-bottom: 1rem;
        width: calc(100% + 2rem);
        min-width: 94rem;

        tr {
            border-bottom: 0.1rem solid #dadada;
            padding: 0 1rem;

            &:last-child {
                border: none;
            }
        }
        td {
        }

        th,
        td {
            padding: 1.5rem .5rem;
            &:nth-child(n + 5) {
                text-align: right;
            }
            &:first-child {
                padding-left: 1rem;
            }

            &:last-child {
                padding-right: 1rem;
            }
        }
    }
}

.teacher-content-list-navigation {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.teacher-content-list-navigation__navigator {
    display: flex;
    flex-direction: row;
    margin-left: auto;

    &__row-per-page {
        select {
            border: none;
            width: 5rem;
            cursor: pointer;
        }
    }

    &__btns {
        display: flex;
        flex-direction: row;

        &__previous,
        &__next {
            width: 4rem;
            height: 4rem;
            background: url("../images/carousel-arrow.svg") center center
                no-repeat;
            cursor: pointer;
            @include clickedState;
        }

        &__next {
            transform: rotate(180deg);
        }
    }
}
