$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 1025px,
  xl: 1366px
) !default;
$container-max-width: (
  sm: 540px,
  md: 730px,
  lg: 960px,
  xl: 1300px
) !default;
$grid-gutter-width: 20px !default;
$grid-big-gutter-width: 30px !default;
$font-main: "Roboto", sans-serif;
$fz-root: 62.5%; // root font-size, DO NOT CHANGE
// Colors
$c-white: #fff;
$colors: (
  primary: (
    main: #e70e2d,
    light: #ff5957,
    dark: #ac0005
  ),
  secondary: (
    main: #ffa900,
    light: #ffdb4a,
    dark: #c67a00
  ),
  tertiary: (
    main: #111111,
    light: #999999,
    dark: #212121
  )
);
$c-main: color(tertiary, light);
$c-header-text-color: $c-white;
$c-page-heading: color(primary, main);
$c-heading: color(tertiary, dark);
$c-price-sale: color(tertiary, main);
$c-price-original: color(tertiary, light);
$c-icon-star: color(secondary, main);
$c-rating-number: color(tertiary, light);
$c-body-background: #f3f3f3;
$c-badge-sale-bg: color(primary, main);
$c-badge-sale-text: color(secondary, light);
$c-button-bg: color(primary, main);
$c-button-text: color(secondary, light);
$c-button-secondary-text: color(tertiary, light);
$c-button-secondary-border: color(tertiary, light);
$c-dropdown-border: #E6E6E6;
$c-dropdown-bg: $c-white;
$c-dropdown-text: color(tertiary, light);
$c-input-text: color(tertiary, dark);
$c-footer-text: color(tertiary, light);
$c-header-bg: rgba(1,15,42,0.45);
$c-header-bg-hover: rgba(1,15,42,0.2);
$c-article-detail: color(tertiary, light);
$c-form-input-label: color(tertiary, light);
$c-form-input-text: color(tertiary, dark);
$c-link-hover: #0056b3;
// Font weight
// $font-weight: (
//   light: 300,
//   regular: 400,
//   bold: 700,
//   black: 900
// );
$font-weight: (
  light: 200,
  regular: 400,
  medium: 500,
  bold: 700,
  black: 900
);
// z-index
$index: (
  ground: 0,
  underGround: -1,
  iframeThumbnail: 10,
  dropdown: 80,
  menu: 100,
  lightBox: 200,
  lightBoxContent: 201
);
// trantions
$transition-slow: all 0.8s ease-in-out;
$transition: all 0.4s ease-in-out;
$transition-fast: all 0.25s ease-in-out;
$border-radius: 0.3rem;
$box-shadow: 0px 3px 8px -3px #a8a8a8;
$sidebar-box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.24);
$small-box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.15);
// container width
$container-sm: 54rem;
$container-md: 72rem;
$container-lg: 96rem;
$container-xl: 114rem;
$container-xxl: 134rem;
$section: (
  spaceTopBot: 4rem
);
$fonts: (
  h1: (
    fontSize: 3.6rem,
    fontSizeM: 2.2rem,
    fontWeight: fontWeight(light)
  ),
  h2: (
    fontSize: 2.4rem,
    fontSizeM: 1.8rem,
    fontWeight: fontWeight(bold)
  ),
  h3: (
    fontSize: 1.6rem,
    fontSizeM: 1.4rem
  ),
  h4: (
    fontSize: 3.4rem,
    fontSizeM: 2rem
  ),
  h5: (
    fontSize: 2.4rem,
    fontSizeM: 1.4rem
  ),
  h6: (
    fontSize: 2rem,
    fontSizeM: 1.2rem
  ),
  bodyBig: (
    fontSize: 1.8rem,
    fontSizeM: 1.6rem
  ),
  body: (
    fontSize: 1.4rem,
    fontSizeM: 1.4rem
  ),
  subTitle: (
    fontSize: 1.6rem,
    fontSizeM: 1.4rem
  ),
  subTitle2: (
    fontSize: 1.4rem,
    fontSizeM: 1.4rem
  ),
  button: (
    fontSize: 1.4rem,
    fontSizeM: 1.4rem
  ),
  caption: (
    fontSize: 1.2rem,
    fontSizeM: 1.2rem
  )
);
$dropdownSize: (
    small: 20rem,
    big: 33rem
);
$header-height: 7.4rem;
$header-height-m: 5.5rem;
$letter-spacing-base: 0.025rem;