@import "functions";
@import "variables";
@import "bower_components/bootstrap/scss/bootstrap-reboot.scss";
@import "bower_components/bootstrap/scss/bootstrap-grid.scss";
@import "bower_components/bootstrap/scss/utilities";
@import "bower_components/bootstrap/scss/modal";
@import "bower_components/bootstrap/scss/card";
@import "bower_components/bootstrap/scss/type";
@import "functions"; // re-import to avoid overriding from bootstrap functions
@import "mixins";
@import "global";
@import "animation";
@import "font";
@import "../fonts/style.css"; // import icomoon
@import "buttons";
@import "dropdown";
@import "form-elements";
@import "daterangepicker";


html {
	font-size: $fz-root; // root font-size, DO NOT CHANGE
}

body {
	font-size: 1.4rem; // base font-size
	font-weight: fontWeight(regular);
	background-color: $c-body-background;

	.device & {
		cursor: pointer;
	}
}

.wrapper-container {
	font-family: $font-main;
	overflow: hidden;

	.wrapper {
        padding-bottom: 4rem;
        min-height: calc(100vh - 39.1rem);
        @include max-lg {
            min-height: calc(100vh - 57.3rem);
        }
	}

	&.no_header_footer_layout {
		.wrapper {
			padding: 0;
		}
	}
}

@import "../partials/header/header";
@import "sidebar-layout";
@import "../partials/teacher-info/teacher-info";
@import "../mixins/article/article";
@import "../mixins/badges/badges";
@import "../partials/hero-banner/hero-banner";
@import "../partials/top-course/top-course";
@import "../partials/article-carousel/article-carousel";
@import "../partials/article-list/article-list";
@import "../partials/learners-rating/learners-rating";
@import "../partials/learners-reviews/learners-reviews";
@import "../partials/added-course/added-course";
@import "../partials/payment-method/payment-method";
@import "../mixins/content-expand/content-expand";
@import "../partials/footer/footer";
@import "course-detail";
@import "learning";
@import "teacher";
@import "my-cart";
@import "login";
@import "active";
@import "profile";
@import "change-pass";