.article {
	display: flex;
	flex-direction: column;
	height: 100%;
	padding-bottom: 3rem;
	position: relative;

	&:hover &-detail {
		visibility: visible;
		opacity: 1;
	}

	&__img {
		img {
			width: 100%;
		}
	}

	&-content {
		flex-grow: 1;
		background: white;
		position: relative;
		padding-bottom: 7rem;
		border-bottom-left-radius: $border-radius;
		border-bottom-right-radius: $border-radius;
		box-shadow: $box-shadow;

		&-price,
		&-info {
			padding: 2rem 2.5rem;
			width: 100%;
			box-sizing: border-box;

			@include max-xl {
				padding: 1rem 1.5rem;
			}
		}

		&-price {
			border-top: .1rem solid #D7D7D7;
			display: flex;
			align-items: center;
			justify-content: space-between;
			position: absolute;
			bottom: 0;
			left: 0;

			&__sale {
				font-size: 1.8rem;
				font-weight: fontWeight(bold);
				color: $c-price-sale;
			}

			&__original {
				font-size: 1.4rem;
				color: $c-price-original;
				text-decoration: line-through;
				color: $c-price-original;
			}
		}
	}

	&-content-info {
		&__title {
			margin-bottom: .5rem;
			font-weight: fontWeight(medium);
			text-overflow: ellipsis;
			overflow: hidden;
			white-space: nowrap;
		}

		&__rating {
			margin-bottom: 1rem;

			i {
				margin-right: .2rem;
			}

			span {
				color: $c-rating-number;
				margin-left: .8rem;
			}

			i,
			span {
				vertical-align: middle;
			}
		}

		p {
			color: $c-rating-number;
			margin: 0;
			height: 3.5rem;
		}
	}

	&-detail {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		background-color: $c-white;
		color: $c-article-detail;
		visibility: hidden;
		opacity: 0;
		min-height: calc(100% - 3rem);
		transition: $transition;
		box-shadow: $sidebar-box-shadow;

		&__category {
			color: inherit;
			padding: 1rem $grid-big-gutter-width/2;
			border-bottom: .1rem solid #d7d7d7;
		}
	}

	&-detail-content {
		padding: $grid-big-gutter-width/2;
		display: flex;
		flex-direction: column;

		&__title {
			font-weight: fontWeight(bold);
			@include textBodyBig;
		}

		&__course {
			font-size: 1.2rem;
			color: inherit;
			margin-bottom: 1.5rem;

			span {
				margin-right: 2rem;

				i {
					margin-right: .5rem;
				}
			}
		}

		.btn {
			flex-basis: 100%;
			padding-left: 1rem;
			padding-right: 1rem;
		}
	}

	&-detail-lecturer {
		display: flex;
		margin-bottom: 1.5rem;

		&__img {
			margin-right: 1.5rem;
			flex: 0 0 5rem;
			height: 5rem;
			border-radius: 50%;
			overflow: hidden;

			img {
				max-width: 100%;
			}
		}

		&__info {
			&__name {
				font-weight: fontWeight(bold);
				@include textBodyBig;
			}

			&__title {
				font-size: fonts(caption, fontSize)
			}
		}
	}

	&-detail-course-about {
		background-color: #F6F6F6;
		padding: $grid-big-gutter-width/2;
		border-radius: $border-radius;
		margin-bottom: 1.5rem;

		p {
			height: 5rem;
			margin: 0;
		}
	}

	&--active-course {
		flex-direction: row;
        height: auto;
        @include max-md {
            flex-direction: column;
        }
		.article__img,
		.article-content {
			width: 50%;
			text-align: left;
            padding: 0;
            @include max-md {
                width: 100%;
            }
        }
        
        .article-content {
            box-shadow: 1px 1px 8px -1px #a8a8a8;
        }

		.article__img {
			position: relative;

			img {
				object-fit: cover;
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
                height: 100%;
                @include max-md {
                    position: static;
                }
			}

		}

		.article-content-price {
			border: none;
            display: block;
            padding-top: 0;
            padding-bottom: 2rem;
            position: static;
            &__sale {
                font-size: 3.6rem;
                color: $c-page-heading;
            }
        }
    }
    &--no-price .article-content {
        padding-bottom: 1rem;
        .btn {
            width: 100%;
        }
    }
    .active-status {
        margin-top: 1rem;
        margin-bottom: .5rem;
        color: color(tertiary, light);
        img {
            width: 1.5rem;
        }
    }
}
.course-active-page {
    &--step2, &--step3 {
        .cta-section {
            .btn {
                margin-bottom: 0;
            }
        }
    }
}