mixin starRating()
    .article-content-info__rating
        i.icon-md-star
        i.icon-md-star
        i.icon-md-star
        i.icon-md-star-half
        i.icon-md-star-outline
        span (18)
mixin starRatingWithoutNumber()
    .article-content-info__rating
        i.icon-md-star
        i.icon-md-star
        i.icon-md-star
        i.icon-md-star-half
        i.icon-md-star-outline
mixin article(title, description)
    article.article(class!=attributes.class)
        +badgeSale("Sale")
        .article__img
            img(src="images/landing/article-img.jpg", alt="")
        .article-content
            .article-content-info
                a(href="#")
                    h3.article-content-info__title= title
                +starRating
                p= description
            .article-content-price
                .article-content-price__sale 990.000 đ
                .article-content-price__original 1.500.000 đ
        .article-detail
            .article-detail__category Sale - Marketing
            .article-detail-content
                h3.article-detail-content__title Bí mật phòng the
                .article-detail-content__course
                    span.article-detail-content__course__total
                        i.icon-badge-13
                        | 64 bài giảng
                    span.article-detail-content__course__time
                        i.icon-clock
                        | 06 giờ 22 phút
                .article-detail-lecturer
                    .article-detail-lecturer__img
                        img(src="images/profile-placeholder.png", alt="")
                    .article-detail-lecturer__info
                        h3.article-detail-lecturer__info__name Phạm Quang Long
                        .article-detail-lecturer__info__title Chuyên gia tâm lý, Tổng Giám Đốc Công ty Tư Vấn Tâm Lý và Đào Tạo VERA
                .article-detail-course-about 
                    p Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum is simply dummy. Lorem Ipsum is simply dummy. Lorem Ipsum is simply dummy
                +button('Thêm vào giỏ hàng')

mixin articleNoHover(title, description)
    article.article(class!=attributes.class)
        +badgeSale("Sale")
        .article__img
            img(src="images/landing/article-img.jpg", alt="")
        .article-content
            .article-content-info
                a(href="#")
                    h3.article-content-info__title= title
                +starRating
                p= description
                .active-status #[img(src="images/checked-green.png", alt="")] Đã active
                +button('Vào học')


