.teacher-info-section#curriculums
    .card
        .card__title Giáo trình
        .card__content
            +contentExpand('Phần 1: Bắt đầu với UX')
            +contentExpand('Phần 2: Quy trình thiết kế UX')
            +contentExpand('Phần 3: Lập plan')
