mixin button(text)
    button.btn.btn--primary(class!=attributes.class)= text
mixin buttonWithLink(text)
    a.btn.btn--primary(href="#" class!=attributes.class)= text
mixin buttonWithLinkTextWhite()
    a.btn.btn--primary.btn--text-white(href="#" class!=attributes.class) button with link
mixin buttonTextWhite()
    button.btn.btn--primary.btn--text-white(class!=attributes.class) button with link
mixin buttonLoading(text)
    button.btn.btn--primary.btn--loading(class!=attributes.class)
        .btn__text= text
        span.btn__progress
mixin buttonSecondaryLoading(text)
    button.btn.btn--secondary.btn--loading(class!=attributes.class)
        .btn__text= text
        span.btn__progress
mixin buttonSecondary(text)
    button.btn.btn--secondary(class!=attributes.class)= text
mixin buttonTertiary(text)
    button.btn.btn--tertiary(class!=attributes.class)= text