mixin dropdown(text)
    .dropdown(class!=attributes.class)
        button.dropdown__btn= text
        .dropdown-menu(aria-labelledby='dropdownMenuButton')
            a.dropdown-menu__item(href='#') Action lorem ipsum
            a.dropdown-menu__item(href='#') Another action Another action
            a.dropdown-menu__item(href='#') Something else here Another action