.teacher-info-section#general-info
    .card
        .card__title Thông tin giảng viên 
        .card__content
            .row
                .col-sm-4
                    .learner-profile.learner-profile--teacher
                        .learner-profile__pic(style="background-image: url('images/profile_pic.jpg')")
                        ul
                            li 3 khóa học
                            li Học viên
                        +buttonSecondary('Xem Hồ Sơ')
                .col-sm-8
                    .teacher-info
                        h3.teacher-info__name phạm quang huy
                        span.teacher-info__title phạm quang huy
                        p Có kinh nghiệm 5 năm làm UX
                        p Tốt nghiệp chuyên ngành Computer science
                        p Anh là 1 start-upper nhiều năm, thành viên của Interaction Design Foundation.
                        p Là một blogger - tác giả của blog Góc UX Việt Nam (chuyên về UI/UX Design).
                        p Founder của trà Ân Thuỷ và là một người đam mê thiền và phật giáo.
    .card.card-readmore
        .card__title Giới thiệu khóa học
        .card__content
            p Bạn có bao giờ thắc mắc: "Điều gì khiến sản phẩm này tốt hơn sản phẩm khác?". Ở đây ta chỉ nói về sản phẩm công nghệ như: điện thoại, website hay 1 ứng dụng chạy trên smartphone. Câu trả lời có thể là: Đẹp hơn, thông minh hơn, hoặc dễ dùng hơn! Vì sao hiếm khi chúng ta thấy người dùng so sánh rằng một sản phẩm được lựa chọn đơn giản vì nó có những tính năng độc nhất vô nhị. Dường như, sự độc nhất vô nhị về công nghệ đã không còn tồn tại ở thời đại ngày nay! Nhưng thế nào là đẹp? Thế nào là thông minh? và thế nào là dễ dùng?
            p &nbsp;
            strong Yêu cầu của khóa học
            ul
             li Môi trường học yên tĩnh.
             li Kết nối internet ổn định
             li Nên sử dụng tai nghe trong quá trình học.
             li Khuyến khích cài đặt phần mềm Adobe Photoshop CC 2015
            p &nbsp;
            strong Lợi ích từ khóa học
            ul
                li Thành thạo các công cụ cơ bản trong Photoshop.
                li Chỉnh sửa những bức ảnh chân dung hay phong cảnh theo cách ấn tượng.
        .card__readmore-btn
            +buttonSecondaryLoading('Đọc thêm')
