.teacher-info-section {
    .learner-profile--teacher {
        padding: 0;
        min-height: 0;
        ul {
            color: color(tertiary, dark);
            margin-bottom: 1rem;
        }
        button {
            width: 100%;
            @include max-lg {
                padding-left: 1rem;
                padding-right: 1rem;
            }
        }
    }
    .content-expand__chap-title {
        @include max-md {
            width: 100%;
        }
    }
    .content-expand__trial, .content-expand__time {
        @include max-md {
            display: none;
        }
    }
}
.teacher-info {
    @include max-md {
        margin-top: 2rem;
    }
    &__name {
        text-transform: capitalize;
        @include textBodyBig;
    }
    &__title {
        color: color(tertiary, light);
        display: block;
        margin-bottom: 2rem;
    }
    
}
