.learners-reviews
    .card.card-readmore
        .card__title Nhận xét của học viên
        .card__content
            .learners-review
                .learners-review__img
                    .learner-profile__pic(style="background-image: url('images/profile_pic.jpg')")
                .learners-review__info
                    .learners-review__info__name Lê Trần Anh Tuấn
                    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam id modi deserunt ipsa officiis tempore est aspernatur necessitatibus eos. Error placeat, et rem sed amet tempora atque at corporis tenetur!
                    span #[i.icon-clock] 19:32 01/09/2018
                +starRatingWithoutNumber
                .card__readmore-btn
                    +buttonSecondaryLoading('Xem thêm đánh giá')
            .learners-review
                .learners-review__img
                    .learner-profile__pic(style="background-image: url('images/profile_pic.jpg')")
                .learners-review__info
                    .learners-review__info__name Lê Trần Anh Tuấn
                    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam id modi deserunt ipsa officiis tempore est aspernatur necessitatibus eos. Error placeat, et rem sed amet tempora atque at corporis tenetur!
                    span #[i.icon-clock] 19:32 01/09/2018
                +starRatingWithoutNumber
                .card__readmore-btn
                    +buttonSecondaryLoading('Xem thêm đánh giá')
            .learners-review
                .learners-review__img
                    .learner-profile__pic(style="background-image: url('images/profile_pic.jpg')")
                .learners-review__info
                    .learners-review__info__name Lê Trần Anh Tuấn
                    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam id modi deserunt ipsa officiis tempore est aspernatur necessitatibus eos. Error placeat, et rem sed amet tempora atque at corporis tenetur!
                    span #[i.icon-clock] 19:32 01/09/2018
                +starRatingWithoutNumber
                .card__readmore-btn
                    +buttonSecondaryLoading('Xem thêm đánh giá')