.learners-review {
    display: flex;
    border-bottom: .1rem solid #C4C4C4;
    padding: 2rem 0;
    @include max-md {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        padding: 1rem 0;
    }
    &:last-child {
        border: none;
    }
    &__img {
        .learner-profile__pic {
            margin-right: 3rem;
            @include max-md {
                margin: 0;
            }
        }
    }
    &__info {
        margin-right: 3rem;
        @include max-md {
            margin: 0;
        }
        &__name {
            font-size: fonts(bodyBig, fontSize);
            font-weight: fontWeight(medium);
            margin-bottom: 1rem;
			@include max-md {
				font-size: fonts(bodyBig, fontSizeM);
			}
        }
        span {
            font-size: 1.2rem;
            color: #BDBDBD;
        }
    }
}