// Google Analytics: change UA-XXXXX-X to be your site's ID.
script.
    (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
    function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
    e=o.createElement(i);r=o.getElementsByTagName(i)[0];
    e.src='https://www.google-analytics.com/analytics.js';
    r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
    ga('create','UA-XXXXX-X');ga('send','pageview');

// build:js scripts/vendor.js
// bower:js
script(src='/bower_components/modernizr/modernizr.js')
script(src='/bower_components/jquery/dist/jquery.js')
script(src='/bower_components/jquery-validation/dist/jquery.validate.js')
script(src='/bower_components/swiper/dist/js/swiper.js')
script(src='/bower_components/jQuery.dotdotdot/dist/jquery.dotdotdot.js')
script(src='/bower_components/sticky-kit/jquery.sticky-kit.js')
// endbower
// endbuild

// build:js scripts/plugins.js
// endbuild

// build:js scripts/main.js
script(src='/node_modules/daterangepicker/moment.min.js')
script(src='/node_modules/daterangepicker/daterangepicker.js')
script(src='/node_modules/sweetalert/dist/sweetalert.min.js')
script(src='scripts/froogaloop.js')
script(src='scripts/main.js')
script(src='scripts/learning.js')
script(src='partials/article-carousel/article-carousel.js')
script(src='partials/header/header.js')
script(src='partials/footer/footer.js')
script(src='partials/article-list/article-list.js')
script(src='partials/payment-method/payment-method.js')
script(src='mixins/content-expand/content-expand.js')
script(src='scripts/execution.js')
// endbuild
script(src='scripts-adhoc/validation.js')
script(src='scripts-adhoc/initdatepicker.js')