.footer {
	background-color: #272727;
	color: $c-footer-text;
    padding-top: 4.5rem;
    font-weight: fontWeight(light);
	a {
		color: inherit;
		transition: $transition-fast;
		&:hover {
			color: lighten($c-footer-text, 20%);
			&:before {
				background-color: lighten($c-footer-text, 20%);
				;
			}
		}
	}
	&__about-us {
		@include max-lg {
			margin-bottom: 2rem;
        }
        @include max-md {
            margin-bottom: 1rem;
        }
	}
	&__logo {
		margin-bottom: 2.8rem;
		display: inline-block;
		@include max-lg {
			margin-bottom: 1rem;
        }
        i {
            color: $c-white;
            font-size: 8rem;
        }
	}
	&__who-we-are {
		margin-bottom: 2rem;
		@include max-lg {
			margin-bottom: 1rem;
		}
	}
	&__information {
		li {
			display: flex;
		}
		i {
			color: color(secondary, main);
			margin-right: .8rem;
			margin-top: .4rem;
		}
	}
	h3 {
		color: $c-white;
		text-transform: uppercase;
		margin-bottom: 2.8rem;
        letter-spacing: .1rem;
        font-weight: fontWeight(bold);
        @include max-lg {
            margin-bottom: 1rem;
        }
	}
	p {
		line-height: 1.42;
	}
	ul {
		list-style-type: none;
		margin: 0;
		padding: 0;
		li {
			margin-bottom: .7rem;
		}
	}
	&__support-link {
		ul {
			li {
				width: 50%;
				float: left;
			}
		}
    }
    &__useful-link, &__support-link {
        @include max-md {
            margin-bottom: 1rem;
        }
    }
    &__useful-link, &__support-link, &__subscription {
        padding-top: 2.5rem;
        @include max-lg {
            padding-top: 0;
        }
    }
	form {
		margin-top: 1.5rem;
	}
	&__subscription {
    form {
      position: relative;
      button {
        position: absolute;
        top: 0;
        right: .4rem;
      }
    }
		input {
			background-color: #333;
			width: calc(100% - 7rem);
			border-radius: 0;
			color: color(tertiary, light);
		}
		button {
			padding: 1.1rem 2rem;
			border-radius: 0;
			background-color: color(secondary, main);
			color: $c-white;
			&:before {
				border-radius: 0;
				background-color: darken(color(secondary, main), 5%);
			}
			&:hover {
				color: $c-white;
			}
			&:active {
				&:before {
					box-shadow: inset 0px -1px 30px 0px darken(color(secondary, main), 30%);
				}
			}
		}
	}
	&__accordion {
        @include max-md {
            cursor: pointer;
        }
		ul {
			@include max-md {
				display: none;
            }
            @include min-md {
                display: block !important;
            }
        }
        h3 {
            @include max-md {
                @include rightArrow();
            }
        }
        &.is-show h3 {
            &:after {
                transform: rotate(90deg);
            }
        }
        
	}
}

.copy-right {
	padding: 1.5rem 0;
	margin-top: 2.5rem;
	border-top: .1rem solid #303030;
	color: #4C4C4C;
	&__content {
		display: flex;
		justify-content: space-between;
        align-content: center;
        @include max-sm {
            flex-direction: column;
        }
		p {
            margin-bottom: 0;
            width: calc(100% - 20rem);
            @include max-sm {
                width: 100%;
                margin-bottom: 1rem;
            }
        }
        a {
            @extend .no-underline;
            
        }
        i {
            margin-left: .8rem;
            &:hover {
                color: lighten(#4C4C4C, 20%);
            }
        }
	}
}