footer.footer
    .container
        .row
            .col-lg-4.col-md-12.footer__about-us
                a(href="#").footer__logo
                    i.icon-logo-3
                p.footer__who-we-are We are Education, create your passion and inspiration. And hope success will come for your dream. Please send email and get latest news.
                ul.footer__information
                    li
                        i.icon-envelope-line
                        a(href="mailto:hello@fuliedu.com") hello@fuliedu.com
                    li 
                        i.icon-phone-handset-line-2 
                        span P: 333 222 111 99
                    li 
                        i.icon-map-marker-line 
                        span Barnard St - Suite 111 United States - GA 22222
            .col-lg-2.col-md-4.footer__accordion.footer__useful-link
                h3 useful links
                ul
                    li #[a(href="#") Giới thiệu về Fuliedu]
                    li #[a(href="#") Câu hỏi thường gặp]
                    li #[a(href="#") Điều khoản dịch vụ]
                    li #[a(href="#") Hướng dẫn thanh toán]
                    li #[a(href="#") Kích hoạt khóa học]
                    li #[a(href="#") Tuyển dụng]
            .col-lg-3.col-md-4.footer__accordion.footer__support-link
                h3 support
                ul
                    li #[a(href="#") Teacher	]
                    li #[a(href="#") Company]
                    li #[a(href="#") Course	]
                    li #[a(href="#") Latest]
                    li #[a(href="#") Course]
                    li #[a(href="#") Support	]
                    li #[a(href="#") Partners]
                    li #[a(href="#") Why Edugate]
                    li #[a(href="#") Blog Post]
                    li #[a(href="#") SocialMedia]
                    li #[a(href="#") Site Map]
                    li #[a(href="#") Policies	]
                    li #[a(href="#") Help]
                    li #[a(href="#") Topic]
            .col-lg-3.col-md-4.footer__subscription
                h3 subscription
                p Enter your email and we’ll send you more information.
                form(action="").j-form-validation
                    input(type="email" placeholder="Nhập Email" required)
                    button.btn.btn-primary.btn--orange gửi
    .copy-right
        .container
            .copy-right__content
                p © Học viện Online FuliEdu - Hệ thống đào tạo trực tuyến dành cho người đi làm - Cổng kết nối Chuyên gia với Học viên
                span Follow us:
                    a(href="#") #[i.icon-facebook]
                    a(href="#") #[i.icon-tw]
                    a(href="#") #[i.icon-insta]
                    a(href="#") #[i.icon-gplus]
                    a(href="#") #[i.icon-skype]