.badge-sale {
    width: 4rem;
    height: 4rem;
    background-color: $c-badge-sale-bg;
    color: $c-badge-sale-text;
    font-size: 1.4rem;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    right: 2.5rem;
    z-index: zIndex(menu);
    &:before, &:after {
        content: '';
        position: absolute;
        bottom: -.5rem;
        width: 50%;
        display: block;
        background-color: $c-badge-sale-bg;
        height: 1rem;
    }
    &:before {
        left: 0;
        transform: skew(0deg, -20deg);
    }
    &:after {
        right: 0;
        transform: skew(0deg, 20deg);
    }
}