.learners-rating {
	&__point {
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: column;

		i {
            font-size: 2.5rem;
            @include max-lg {
                font-size: 1.8rem;
            }
		}

		&__number {
			font-size: 9.6rem;
			font-weight: fontWeight(medium);
            line-height: 1;
            @include max-lg {
                font-size: 5rem;
            }
		}
	}

	&-bars {
        padding-top: .6rem;
		.bar-container {
			margin-bottom: 2rem;
		}
	}

	&-stars {
		i {
            font-size: 2rem;
            @include max-lg {
                font-size: 1.6rem;
            }
		}

		.article-content-info__rating {
            margin-bottom: 1.35rem;
            span {
                color: color(tertiary, main);
                font-weight: fontWeight(light);
            }
		}
	}
}