.learners-rating-section#learners-rating
    .card.learners-rating
        .card__title Đánh giá của học viên
        .card__content
            .row
                .col-md-3.col-lg-4
                    .learners-rating__point
                        .learners-rating__point__number 4.5
                        +starRatingWithoutNumber
                        span 54 đánh giá
                .col-md-5.col-lg-5
                    .learners-rating-bars
                        +percentBar
                        +percentBar
                        +percentBar
                        +percentBar
                        +percentBar
                .col-md-4.col-lg-3
                    .learners-rating-stars
                        +starRating
                        +starRating
                        +starRating
                        +starRating
                        +starRating
