extends layouts/default

block content
    .layout-no-banner.course-active-page.course-active-page--step2
        .container
            .course-active
                h1 Kích hoạt khoá học của bạn
                ul.active-steps
                    li
                        .circle.active B1
                        span Nhập mã khóa học
                    li
                        .circle.active B2
                        span Xác nhận
                    li
                        .circle B3
                        span Kích hoạt
            .cta-section
                .row
                    .col-lg-8.offset-lg-2
                        article.article.article--active-course
                            .article__img
                                img(src="images/landing/article-img.jpg", alt="")
                            .article-content
                                .article-content-info
                                    a(href="#")
                                        h3.article-content-info__title Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae, provident suscipit eius nostrum voluptates dolorem
                                    +starRating
                                    p Lorem ipsum dolor sit amet consectetur adipisicing elit. lorem
                                .article-content-price
                                    .article-content-price__original 1.500.000 đ
                                    .article-content-price__sale 990.000 đ
                        +button('Tiếp theo')
