extends layouts/default

block content
    .layout-no-banner.course-active-page.course-active-page--step1
        .container
            .course-active
                h1 Kích hoạt khoá học của bạn
                ul.active-steps
                    li
                        .circle.active B1
                        span Nhập mã khóa học
                    li
                        .circle B2
                        span Xác nhận
                    li
                        .circle B3
                        span Kích hoạt
            .cta-section
                .row
                    .col-lg-8.offset-lg-2
                        h1 Nhập mã khóa học
                        p Nhập mã khoá học mà bạn nhận được vào ô bên dưới
                        .form-group
                            input(type="text" placeholder="XXXX XXXX XXXX XXXX")
                        +button('kích hoạt')
                        p Lưu ý: Mỗi khoá học chỉ cần kích hoạt 1 lần duy nhất. Không lặp lại bước này ở lần vào học sau.
