extends layouts/default

block content
    .layout-no-banner.course-active-page.course-active-page--step3
        .container
            .course-active
                h1 Kích hoạt khoá học của bạn
                ul.active-steps
                    li
                        .circle.active B1
                        span Nhập mã khóa học
                    li
                        .circle.active B2
                        span Xác nhận
                    li
                        .circle.active B3
                        span Kích hoạt
            .cta-section
                .row
                    .col-lg-8.offset-lg-2
                        h1 Chúc mừng bạn kích hoạt khoá học thành công!
                        div
                            img(src="images/active-success.svg", alt="")
                        br
                        +buttonWithLink('Vào học')
