extends layouts/default

block content
    .layout-no-banner
        .container.profile
            .row
                .col-md-6.offset-md-3.col-lg-4.offset-lg-4
                    .change-pass
                        h1 Thay đổi mật khẩu
                        form#form-change-pass.form-change-pass.j-form-validation
                            .form-group.form-group--has-view-pass
                                label(for="change-pass-current") Mật khẩu hiện tại
                                input#change-pass-current(type="password" name="change-pass-current" placeholder="******" required)
                                .view-pass
                                    img(src="images/view-pass.png", alt="")
                            .form-group.form-group--has-view-pass
                                label(for="change-pass-new") Mật khẩu mới
                                input#change-pass-new(type="password" name="change-pass-new" placeholder="******" minlength="6" required)
                                .view-pass
                                    img(src="images/view-pass.png", alt="")
                            .form-group.form-group--has-view-pass
                                label(for="change-pass-verify") Gõ lại mật khẩu mới
                                input#change-pass-verify(type="password" name="change-pass-verify" minlength="6" placeholder="******" required)
                                .view-pass
                                    img(src="images/view-pass.png", alt="")
                            +button('Lưu thông tin')