extends layouts/left-side-bar

block sidebarBrief
    h1 Tự học thiết kế UX
    p Hiểu về UX và thiết kế UX, biết quy trình 7 bước thiết kế UX, các công cụ, phương pháp thực hiện thiết kế UX
    p Giảng viên: Phạm Quang Huy - Giảng viên - Tác giả của blog Góc UX Việt Nam
    +starRating
block leftSidebar
    aside
        .sidebar-container.sidebar-course
            .h1.sidebar-course__price 800.000 vnđ
            .sidebar-course__info
                ul
                    li Thể loại: Thiết kế
                    li Thời lượng: 04 giờ 34 phút
                    li Giáo trình: 37 bài giảng
                    li Sở hữu khóa học trọn đời
                    li Học mọi lúc mọi nơi: Mobile, TV, PC
                +button('Mua Khóa Học')
                +buttonSecondary('Thêm vào giỏ hàng')
                .coupon-links
                    a(href="#").coupon-links__trigger Bạn có coupon giảm giá?
                    .coupon-links__input-wrapper
                        input(type="text" placeholder="Điền mã giảm giá").coupon-links__input
                        +button('Sử Dụng Mã')
block content
    .iframe-responsive
        img.iframe-responsive__img(src="images/16_9.jpeg", alt="")
        iframe(src='https://player.vimeo.com/video/286857224?api=1', width='640', height='360', frameborder='0', webkitallowfullscreen='', mozallowfullscreen='', allowfullscreen='')
        img(src="images/icon-play.svg", alt="").icon-play
    ul.section-anchor
        li(target="#general-info").active Thông tin chung
        li(target="#curriculums") Giáo trình
        li(target="#learners-rating") Đánh giá (18)
    include partials/teacher-info/teacher-info
    include partials/curriculums/curriculums
    include partials/learners-rating/learners-rating
    include partials/learners-reviews/learners-reviews