extends layouts/default

block content
  .container(style="padding-top: 100px")
    a(href="landing.html") Landing
    br
    a(href="signup.html") Đăng ký
    br
    a(href="login.html") Login
    br
    a(href="learners.html") học viên
    br
    a(href="course-detail.html") chi tiết khóa học
    br
    a(href="payment.html") Thanh toán
    br
    a(href="payment2.html") Thanh toán 2
    br
    a(href="learning.html") Vào học
    br
    a(href="teacher.html") teacher
    br
    a(href="active.html") active
    br
    a(href="active2.html") active2
    br
    a(href="active3.html") active3
    br
    a(href="profile.html") profile
    br
    a(href="change-pass.html") change password
    br
    a(href="reset-pass.html") reset password
    br
    a(href="my-cart.html") Đơn hàng của tôi
    br
    br
    iframe(src='https://player.vimeo.com/video/286857224', width='640', height='360', frameborder='0', webkitallowfullscreen='', mozallowfullscreen='', allowfullscreen='')
    br
    h1 Components:
    h2 Buttons: 
    +button('button')
    +buttonSecondary('button secondary')
    +button('button without link')
    +buttonWithLink('button with link')
    br
    br
    .form-group
        label(for="full-name") full name
        input#full-name(type="text" placeholder="Nguyễn Văn Hùng")
    br
    .form-group
        label.rounded-box(for="remember-me")
            input#remember-me(type="checkbox")
            .rounded-box__checkbox
            | Ghi nhớ tài khoản
    br
    br
    +buttonLoading('button loading')
    br
    br
    br
    +buttonWithLinkTextWhite
    br
    br
    br
    h2 Dropdown
    .dropdown
        button.dropdown__btn Tôi muốn trở thành...
        .dropdown-menu(aria-labelledby='dropdownMenuButton')
            a.dropdown-menu__item(href='#') Action lorem ipsum
            a.dropdown-menu__item(href='#') Another action Another action
            a.dropdown-menu__item(href='#') Something else here Another action
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
