extends layouts/default

block content
    include partials/hero-banner/hero-banner
    include partials/top-course/top-course
    include partials/article-carousel/article-carousel
    include partials/ads/ads
    include partials/article-list/article-list