extends layouts/default_no_header_footer

block content
    .learning-wrapper
        .learning
            .learning-video
                .learning-video-tool
                    a(href="#").learning-video-tool__back #[img(src="images/back.svg")] trở lại
                    +buttonTertiary('báo lỗi').learning-video-tool__report.btn--small
                    .learning-video-tool__fullview #[img(src="images/extend.svg")]
                .learning-video__main-video
                    .iframe-responsive
                        iframe(src='https://player.vimeo.com/video/291647592?api=1&autoplay=1', width='640', height='360', frameborder='0', webkitallowfullscreen='', mozallowfullscreen='', allowfullscreen='')
                .learning-video__navigator
                    button.btn.btn--tertiary.btn--small.previous-course #[i.icon-step-forward-solid] Bài trước
                    button.btn.btn--tertiary.btn--small.next-course Bài tiếp #[i.icon-step-forward-solid]
            .learning-assets
                ul.learning-assets__title
                    li(target="#asset-curriculum").active #[i.icon-Menu-1] Giáo trình
                    li(target="#asset-document") #[i.icon-download] Tài liệu
                .learning-asset-content.asset-curriculum#asset-curriculum
                    ul
                        li.learning-assets-curriculum
                            .learning-assets-courses
                                .learning-assets-courses__part-name Phần 1: Bắt đầu với UX
                                ul
                                    li.done(video-id="286857224")
                                        span Bài 1: Những hiểu biết cơ bản về UX
                                        .learning-assets-courses__sub
                                            time #[i.icon-play] 10:50
                                            .comment #[i.icon-comment]
                                    li.active(video-id="291647610") 
                                        span Bài 2: Thực hành thiết kế UX qua bài tập thiết kế
                                        .learning-assets-courses__sub
                                            time #[i.icon-play] 10:50
                                            .comment #[i.icon-comment]
                                    li(video-id="291647592")
                                        span Bài 1: Những hiểu biết cơ bản về UX
                                        .learning-assets-courses__sub
                                            time #[i.icon-play] 10:50
                                            .comment #[i.icon-comment]
                            .learning-assets-courses
                                .learning-assets-courses__part-name Phần 2: Bắt đầu với UX
                                ul
                                    li(video-id="291647439")
                                        span Bài 1: Những hiểu biết cơ bản về UX
                                        .learning-assets-courses__sub
                                            time #[i.icon-play] 10:50
                                            .comment #[i.icon-comment]
                                    li(video-id="291647592")
                                        span Bài 2: Thực hành thiết kế UX qua bài tập thiết kế
                                        .learning-assets-courses__sub
                                            time #[i.icon-play] 10:50
                                            .comment #[i.icon-comment]
                                    li(video-id="291647439")
                                        span Bài 1: Những hiểu biết cơ bản về UX
                                        .learning-assets-courses__sub
                                            time #[i.icon-play] 10:50
                                            .comment #[i.icon-comment]
                .learning-asset-content.asset-document#asset-document
                    ul
                        li.learning-assets-document
                            | assets document placeholder
