extends layouts/left-side-bar

block sidebarBrief
    h1 Khoá học của tôi
block leftSidebar
    aside
        .learner-belongs
            .learner-profile
                .learner-profile__pic(style="background-image: url('images/profile_pic.jpg')")
                span.h1.learner-profile__name Hoàng Hoa
                ul
                    li 3 khóa học
                    li Học viên
            ul.learner-belongs-list
                li.active #[a(href="#") Khoá học của tôi]
                li #[a(href="#") Thông tin tài khoản]
                li #[a(href="#") Tình trạng đơn hàng]
                li #[a(href="#") Lịch sử giao dịch]
                li #[a(href="#") Ưu đãi của tôi]
block content
    include partials/article-carousel/article-carousel
    include partials/ads/ads
    section.section.articles.articles--related-type
        .container
            h2.h1 Khóa học của tôi
            .row
                .col-lg-4.col-sm-6.animated.delay-0
                    +articleNoHover("Lorem Ipsum is simply dummy text of the", "tate culpa reiciendis nesciunt voluptatem asperiores necessitatibus cumque? Delectus neque blanditiis facere cum accusantium!").article--no-price
                .col-lg-4.col-sm-6.animated.delay-1
                    +articleNoHover("This is the title with 2 line, This is the title with 2 line", " Lorem ipsum dolor sit amet consectetur, adipisicing elit. Possimus quia, suscipit ratione aut at nulla recusandae").article--no-price
                .col-lg-4.col-sm-6.animated.delay-2
                    +articleNoHover("This is the title with 3 line, This is the title with 3 line, This is the title with 3 line, This is the title with 3 line", " Lorem ipsum dolor sit amet consectetur, adipisicing elit. Possimus quia, suscipit ratione aut at nulla recusandae cupiditate culpa reiciendis nesciunt voluptatem asperiores necessitatibus cumque? Delectus neque blanditiis facere cum accusantium!").article--no-price
    section.section.articles.articles--related-type
        .container
            h2.h1 Có thể bạn quan tâm
            .row
                .col-lg-4.col-sm-6.animated.delay-0
                    +article("Lorem Ipsum is simply dummy text of the", "tate culpa reiciendis nesciunt voluptatem asperiores necessitatibus cumque? Delectus neque blanditiis facere cum accusantium!")
                .col-lg-4.col-sm-6.animated.delay-1
                    +article("This is the title with 2 line, This is the title with 2 line", " Lorem ipsum dolor sit amet consectetur, adipisicing elit. Possimus quia, suscipit ratione aut at nulla recusandae")
                .col-lg-4.col-sm-6.animated.delay-2
                    +article("This is the title with 3 line, This is the title with 3 line, This is the title with 3 line, This is the title with 3 line", " Lorem ipsum dolor sit amet consectetur, adipisicing elit. Possimus quia, suscipit ratione aut at nulla recusandae cupiditate culpa reiciendis nesciunt voluptatem asperiores necessitatibus cumque? Delectus neque blanditiis facere cum accusantium!")