extends layouts/default

block content
    .layout-no-banner
        .container
            .row
                .col-lg-10.offset-lg-1
                    .forms-container
                        .row
                            .col-md-6.d-none.d-md-block
                                img(src="images/login.png", alt="")
                            .col-md-6
                                h1 Đăng Nhập
                                form#form-login.form-login.j-form-validation
                                    .form-group
                                        label(for="login-full-name") full name
                                        input#login-full-name(type="text" name="login-full-name" placeholder="Nguyễn Văn A" required)
                                    .form-group
                                        label(for="login-password") password
                                        input#login-password(type="password" name="login-password"  minlength="6" placeholder="******" required)
                                    .form-group.login-links
                                        label.rounded-box(for="remember-me")
                                            input#remember-me(type="checkbox")
                                            .rounded-box__checkbox
                                            | Ghi nhớ tài khoản
                                        a(href="#") Quên mật khẩu
                                    .form-group.form-btns
                                        +buttonLoading('Đăng Nhập')
                                        .signup-links Bạn chưa có tài khoản? #[a(href="#") Đăng ký].