extends layouts/default

block content
    .layout-no-banner
        .teacher.my-cart
            .container
                h1.page-title Đơn hàng của tôi
                .teacher-filter
                    .row
                        .col-md-6.offset-md-3
                            .form-group
                                input.date-picker(type="text" placeholder="Từ ngày - Đến ngày")
                                +button('tra cứu').btn-filter
                .teacher-content-list
                    p Trình bày 1 - 20 trong số 2.000 học viên
                    .teacher-content-list__table-wrapper
                        table.teacher-content-list__table
                            tr
                                th STT
                                th Thông tin
                                th Xem khóa học
                                th Khóa học
                                th Tổng giá tiền
                                th Tình trạng đăng ký
                                th Ngày mua
                                th Tình trạng
                                th Active
                            - var n = 0;
                                while n < 15
                                    tr
                                        td= n++
                                        td
                                            p Tên: Đỗ Thị Lan Anh
                                            p Email: lananh22207@gmail.com
                                            p Số điện thoại: 0987654321
                                        td #[a(href="#") đi đến khóa học]
                                        td 3
                                        td 1.000.000đ
                                        td Chưa đăng ký
                                        td 30/10/2018
                                        td Đang chờ
                                        td 
                                            +button('Active')
                    .teacher-content-list-navigation
                        span 1-6 from 60
                        .teacher-content-list-navigation__navigator
                            .teacher-content-list-navigation__navigator__row-per-page.form-group
                                | Rows per page
                                select
                                    option 5
                                    option 10
                                    option 15
                                    option 50
                            .teacher-content-list-navigation__navigator__btns
                                .teacher-content-list-navigation__navigator__btns__previous
                                .teacher-content-list-navigation__navigator__btns__next
                                