extends layouts/right-side-bar
block sidebarBrief
    h1 Giỏ hàng (3 Khoá học)
block content
    include partials/added-course/added-course
block rightSidebar
    aside
        .sidebar-container.tac
            p.sidebar__total-price Tổng thành tiền
            .h1.sidebar__price 1.500.000đ
            +button('Thanh Toán')
            .coupon-links
                a(href="#").coupon-links__trigger Bạn có coupon giảm giá?
                .coupon-links__input-wrapper
                    input(type="text" placeholder="Điền mã giảm giá").coupon-links__input
                    +button('Sử Dụng Mã')