extends layouts/right-side-bar
block sidebarBrief
    h1 Thanh toán khóa học
block content
    include partials/payment-method/payment-method
block rightSidebar
    aside
        .sidebar-container.bg-white
            .sidebar-payment
                .sidebar-payment__total.text-big Đơn hàng (3 khoá học)
                .sidebar-payment__detail
                    .sidebar-payment__detail-row
                        .sidebar-payment__detail-row__course Tự học thiết kế UX
                        .sidebar-payment__detail-row__price
                            .sidebar-payment__detail-row__price__sale 800.000đ
                            .sidebar-payment__detail-row__price__original 1.000.000đ
                    .sidebar-payment__detail-row
                        .sidebar-payment__detail-row__course 20 ngày thấu hiểu bản thân và định hướng tương lai
                        .sidebar-payment__detail-row__price
                            .sidebar-payment__detail-row__price__sale 300.000đ
                    .sidebar-payment__detail-row
                        .sidebar-payment__detail-row__course Phí giao hàng
                        .sidebar-payment__detail-row__price
                            .sidebar-payment__detail-row__price__sale Miễn phí
                .sidebar-payment-total-price
                    .text-big Thành tiền
                    span.price 1.500.000đ
                        