extends layouts/default

block content
    .layout-no-banner
        form#form-profile.form-profile.j-form-validation.container.profile
            .row
                .col-md-3
                    .profile-user
                        .profile-user__img-wraper
                            .profile-user__img
                                img(src="images/profile_pic.jpg", alt="")
                            .profile-user__upload
                                input(type="file").j-input-upload
                                img(src="images/upload.png", alt="")
                        h5.profile-user__name Trần Xuân Long
                        span.profile-user__title Photoshop export
                .col-md-9
                    .form-profile
                        .row
                            .form-group.col-md-6
                                label(for="profile-full-name") full name
                                input#profile-full-name(type="text" name="profile-full-name" placeholder="Nguyễn Văn A" required)
                            .form-group.col-md-6
                                label(for="profile-phone") Phone
                                input#profile-phone(type="text" name="profile-phone" placeholder="0912345678" required)
                            .form-group.col-md-6
                                label(for="profile-email") email
                                input#profile-email.readonly(type="email" name="profile-email" value="toanle@gmail.com" readonly disabled placeholder="youremail@mail.com" required)
                            .form-group.col-md-6
                                label(for="profile-address") address
                                input#profile-address.readonly(type="text" name="profile-address" value="Hà nội" readonly disabled placeholder="Địa chỉ của bạn" required)
                            .form-group.col-md-6
                                label(for="profile-dob") Ngày sinh
                                input.date-picker.date-picker--single(type="text" placeholder="Từ ngày - Đến ngày")
                            .form-group.col-md-6
                                label Giới tính
                                .radio-group
                                    label.rounded-box(for="male")
                                        input#male(type="radio" name="profile-gender")
                                        .rounded-box__checkbox 
                                        | Male
                                    label.rounded-box(for="female")
                                        input#female(type="radio" name="profile-gender")
                                        .rounded-box__checkbox 
                                        | Female
                        .form-group
                            label(for="info-1") thông tin 1
                            textarea(placeholder="Điền thông tin của bạn...")
                        .form-group
                            label(for="info-1") thông tin 2
                            textarea(placeholder="Điền thông tin của bạn...")
                        .form-group
                            label(for="info-1") thông tin 3
                            textarea(placeholder="Điền thông tin của bạn...")
                        +button('Lưu thông tin')