extends layouts/default

block content
    .layout-no-banner
        .container.profile
            .row
                .col-md-6.offset-md-3.col-lg-4.offset-lg-4
                    .reset-pass
                        h1 Khôi phục mật khẩu
                        form#form-reset-pass.form-reset-pass.j-form-validation
                            .form-group
                                label(for="reset-email") Email
                                input#reset-email(type="email" name="reset-email" placeholder="Email của bạn..." required)
                            +button('Gửi')