extends layouts/default

block content
    .layout-no-banner
        .container
            .row
                .col-lg-10.offset-lg-1
                    .forms-container
                        .row
                            .col-md-6.d-none.d-md-block
                                img(src="images/login.png", alt="")
                            .col-md-6
                                h1 Đăng Ký Tài Khoản
                                form#form-signup.form-signup.j-form-validation
                                    .form-group
                                        label(for="signup-full-name") Tài khoản
                                        input#signup-full-name(type="text" name="signup-full-name" placeholder="Nguyễn Văn A" required)
                                    .form-group
                                        label(for="signup-email") Tài khoản
                                        input#signup-email(type="email" name="signup-email" placeholder="yourname@gmail.com" required)
                                    .form-group
                                        label(for="signup-password") password
                                        input#signup-password(type="password" name="signup-password"  minlength="6" placeholder="******" required)
                                    .form-group
                                        label(for="signup-phone") Số điện thoại
                                        input#signup-phone(type="text" name="signup-phone"  minlength="10" placeholder="******" required)
                                    .form-group.form-btns
                                        +buttonLoading('Đăng Ký')
                                        //- button(type="submit") submit
                                        | hoặc #[a(href="#") Đăng nhập]