extends layouts/default

block content
    .layout-no-banner
        .teacher
            .container
                .top-information
                    .row
                        .col-md-4
                            .top-information__block
                                span Học viên
                                h1 156 Học viên
                        .col-md-4
                            .top-information__block
                                span tổng thu nhập
                                h1 13.600.000đ
                        .col-md-4
                            .top-information__block
                                span khóa học
                                h1 5
                .teacher-filter
                    .row
                        .col-md-6
                            .form-group
                                label Thống kê học viên
                                select
                                    option(value="") khoa hoc 1
                                    option(value="") khoa hoc 2
                        .col-md-6
                            .form-group
                                input.date-picker(type="text" placeholder="Từ ngày - Đến ngày")
                                +button('tra cứu').btn-filter
                .teacher-content-list
                    p Trình bày 1 - 20 trong số 2.000 học viên
                    .teacher-content-list__table-wrapper
                        table.teacher-content-list__table
                            tr
                                th STT
                                th Ngày thu nhập
                                th Học viên
                                th Khóa học
                                th Thực nhận học phí
                                th Hoa hồng
                                th Thu nhập giảng dạy
                            - var n = 0;
                                while n < 15
                                    tr
                                        td= n++
                                        td 19/5/2018
                                        td Ice Cream Sandwich
                                        td Ice Cream Sandwich test long text
                                        td 100.000đ
                                        td 80%
                                        td 80.000đ
                    .teacher-content-list-navigation
                        span 1-6 from 60
                        .teacher-content-list-navigation__navigator
                            .teacher-content-list-navigation__navigator__row-per-page.form-group
                                | Rows per page
                                select
                                    option 5
                                    option 10
                                    option 15
                                    option 50
                            .teacher-content-list-navigation__navigator__btns
                                .teacher-content-list-navigation__navigator__btns__previous
                                .teacher-content-list-navigation__navigator__btns__next
                                