section.section.articles
    .container
        h2.section__title chinh phục mục tiêu của bạn!
        +dropdown('Tôi muốn trở thành...').dropdown--size-big.dropdown--align-center
        .row
            .col-lg-3.col-md-4.col-sm-6.animated.delay-0
                +article("Lorem Ipsum is simply dummy text of the", "tate culpa reiciendis nesciunt voluptatem asperiores necessitatibus cumque? Delectus neque blanditiis facere cum accusantium!")
            .col-lg-3.col-md-4.col-sm-6.animated.delay-1
                +article("This is the title with 2 line, This is the title with 2 line", " Lorem ipsum dolor sit amet consectetur, adipisicing elit. Possimus quia, suscipit ratione aut at nulla recusandae")
            .col-lg-3.col-md-4.col-sm-6.animated.delay-2
                +article("This is the title with 3 line, This is the title with 3 line, This is the title with 3 line, This is the title with 3 line", " Lorem ipsum dolor sit amet consectetur, adipisicing elit. Possimus quia, suscipit ratione aut at nulla recusandae cupiditate culpa reiciendis nesciunt voluptatem asperiores necessitatibus cumque? Delectus neque blanditiis facere cum accusantium!")
            .col-lg-3.col-md-4.col-sm-6.animated.delay-3
                +article("article title", " Lorem ipsum dolor sit amet consectetur, adipisicing elit. Possimus quia, suscipit ratione aut at nulla recusandae cupiditate")
            .col-lg-3.col-md-4.col-sm-6.animated.delay-0
                +article("Lorem Ipsum is simply dummy text of the", "tate culpa reiciendis nesciunt voluptatem asperiores necessitatibus cumque? Delectus neque blanditiis facere cum accusantium!")
            .col-lg-3.col-md-4.col-sm-6.animated.delay-1
                +article("This is the title with 2 line, This is the title with 2 line", " Lorem ipsum dolor sit amet consectetur, adipisicing elit. Possimus quia, suscipit ratione aut at nulla recusandae")
            .col-lg-3.col-md-4.col-sm-6.animated.delay-2
                +article("This is the title with 3 line, This is the title with 3 line, This is the title with 3 line, This is the title with 3 line", " Lorem ipsum dolor sit amet consectetur, adipisicing elit. Possimus quia, suscipit ratione aut at nulla recusandae cupiditate culpa reiciendis nesciunt voluptatem asperiores necessitatibus cumque? Delectus neque blanditiis facere cum accusantium!")
            .col-lg-3.col-md-4.col-sm-6.animated.delay-3
                +article("article title", " Lorem ipsum dolor sit amet consectetur, adipisicing elit. Possimus quia, suscipit ratione aut at nulla recusandae cupiditate")
        button.btn.btn--primary.btn--align-center.btn--loading.btn-show-more
            .btn__text xem tất cả xem tất cả 
            span.btn__progress
