.article-carousel {
	&-wrapper {
		position: relative;
		width: 100%;

		.swiper-button-prev {
			left: -3rem;

			@include max-sm {
				left: 0;
			}
		}

		.swiper-button-next {
			right: -3rem;

			@include max-sm {
				right: 0;
			}
		}
	}
}

.swiper-button-prev,
.swiper-button-next {
	background: none;
	display: flex;
	justify-content: center;
	align-items: center;
}

.swiper-button-next {
	transform: rotate(180deg);
}

.section.article-carousel {
	.article-carousel-wrapper {

		.swiper-container {
			padding-bottom: 20rem;
		}
	}

	&+.section {
		margin-top: -20rem;
	}

	.swiper-button-prev,
	.swiper-button-next {
		top: calc(50% - 7.5rem);
    }
    .article {
        padding-bottom: 0;
    }
}