section.section.section--no-space-bottom.article-carousel(item-per-row="3")
    .container
        h2.section__title khóa học mới nhất
        .article-carousel-wrapper
            .swiper-container
                .swiper-wrapper
                    .swiper-slide
                        +article("Lorem Ipsum is simply dummy text of the", "tate culpa reiciendis nesciunt voluptatem asperiores necessitatibus cumque? Delectus neque blanditi")
                    .swiper-slide
                        +article("Lorem Ipsum is simply dummy text of the", "tate culpa reiciendis nesciunt voluptatem asperiores necessitatibus cumque? Delectus neque blanditiis facere cum accusantium! blanditiis facere cum accusantium! blanditiis facere cum accusantium! blanditiis facere cum accusantium! blanditiis facere cum accusantium!")
                    .swiper-slide
                        +article("Lorem Ipsum is simply dummy text of the", "tate culpa reiciendis nesciunt voluptatem asperiores necessitatibus cumque? Delectus neque blanditiis facere cum accusantium! blanditiis facere cum accusantium!")
                    .swiper-slide
                        +article("Lorem Ipsum is simply dummy text of the", "tate culpa reiciendis!")
                    .swiper-slide
                        +article("Lorem Ipsum is simply dummy text of the", "tate culpa reiciendis nesciunt voluptatem asperiores necessitatibus cumque? Delectus neque")
                    .swiper-slide
                        +article("Lorem Ipsum is simply dummy text of the", "tate culpa reiciendis nesciunt voluptatem asperiores necessitatibus cumque? Delectus neque blanditiis facere cum accusantium!")
                .swiper-pagination
            .swiper-button-prev
                img(src="images/carousel-arrow.svg", alt="")
            .swiper-button-next
                img(src="images/carousel-arrow.svg", alt="")
