$categories-top-space: 2.6rem;
$pd-row-menu-m: 0.5rem 0;

.header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	display: flex;
	z-index: zIndex(menu);
	color: $c-header-text-color;
	background-color: $c-header-bg;
	height: $header-height;
	align-items: center;
	padding: 0 3rem;
    &--logged-in &-userprofile {
        margin-left: 0;
    }
    &--logged-in &__enable-course {
        margin-left: auto;
        margin-right: 5rem;
    }
    &--logged-in .header-userprofile__cart {
        align-self: center;
        margin-right: 3rem;
        @include max-lg {
            align-self: normal;
            margin-top: 1rem;
        }
    }
	@include max-lg {
		padding: 0 1rem;
		height: $header-height-m;
	}

	&__categories-trigger {
		margin-right: 3.5rem;
		cursor: pointer;
		position: relative;

		span {
			// @include clickedState();
			padding: 1rem 0;
		}

		i {
			font-size: 1.2rem;
			margin-right: 1.2rem;
		}

		&:hover {
			.categories-wrapper {
				height: 30rem;
			}

			.category {
				-webkit-animation-name: fadeInLeftMargin;
				animation-name: fadeInLeftMargin;
			}
		}

		@include max-lg {
			display: none;
		}
	}

	&__logo {
		margin-right: 4rem;
		display: inline-block;
		@extend .no-underline;

		@include max-lg {
			margin-right: 2rem;
		}

		i {
			font-size: 5rem;
			color: $c-white;

			@include max-lg {
				font-size: 3rem;
			}
		}
	}

	&__search-container {
		width: 100%;
		max-width: 37rem;
		margin-right: 3rem;
		position: relative;
		color: color(tertiary, main);

		&:before {
			position: absolute;
			top: 50%;
			left: 15px;
			transform: translateY(-50%);
			@include searchIcon;
		}

		@include max-lg {
			margin-right: 0;
		}

		input {
			width: 100%;
			padding-left: 4rem;
		}
	}

	.categories-wrapper {
		position: absolute;
		top: 100%;
		left: 0;
		z-index: 100;
		min-width: 20rem; // padding: 0 2rem;
		padding-top: $categories-top-space;
		height: 0;
		transition: all 0.6s;
		overflow: hidden;

		&:hover {
			overflow: visible;
		}

		@include max-lg {
			top: 0;
			left: 0;
			height: auto;
			width: 100%;
			padding: 0;
			position: static;
			// display: none;
		}
	}

	.categories {
		// padding: 2rem 0;
		padding-top: 1.3rem;
		background-color: $c-header-bg;
		position: relative;
		height: 100%;

		@include max-lg {
			background: none;
			padding: 0;
			height: auto;
			display: none;
			padding-left: 1.5rem;
		}
	}

	a {
		color: inherit;

		&:hover {
			color: inherit;
		}
	}

	&-userprofile {
		margin-left: auto;
		display: flex;
		justify-content: space-between;

		@include max-lg {
			flex-direction: column;
		}

		&__register,
		&__login,
		&__cart {
			margin: 0 1.4rem;
			@extend .no-underline;

			@include max-lg {
				margin: 0;
				padding: $pd-row-menu-m;
			}
		}

		&__register {
			position: relative;

			&:after {
				content: "|";
				position: absolute;
				right: -1.5rem;
			}

			@include max-lg {
				&:after {
					visibility: hidden;
				}
			}
		}

		&__cart {
			i {
				font-size: 2.1rem;
			}

			display: flex;

			span {
				display: none;
			}

			@include max-lg {
				span {
					display: inline-block;
					margin-left: 1rem;
				}
			}

			&__number {
				font-size: 1.8rem;
				position: absolute;
				top: -1.5rem;
				left: 1.5rem;
				font-weight: 400;
				border-radius: 50%;
				background-color: color(primary, main);
				display: block;
                width: 2.2rem;
                height: 2.2rem;
				color: $c-white;
				text-align: center;
				padding: 0;
                @include max-md {
                    top: -1rem;
                }
			}
        }
        .dropdown__img {
            @include max-lg {
                width: 3.5rem;
            }
        }
        .dropdown-menu {
            margin-top: 1.3rem;
            box-shadow: $small-box-shadow;
            @include max-lg {
                margin-top: .5rem;
                box-shadow: none;
                left: -1rem;
                right: auto;
            }
            a {
                border-radius: 0;
                border: none;
                color: color(tertiary, dark);
                @include max-lg {
                    background: transparent;
                    color: $c-white;
                    padding: 1rem;
                    white-space: normal;
                }
                &:before {
                    background-color: rgba(172, 0, 5, .1);
                    border-radius: 0;
                    @include max-lg {
                        background: none;
                    }
                }
            }
        }
	}

	&__enable-course {
		i {
			margin-right: 1rem;
		}

		@include max-lg {
			padding: $pd-row-menu-m;
			display: inline-block;
		}
	}

	.hamburger-icon {
		padding: 1rem;
		cursor: pointer;
		@include clickedState;
	}
}

.category {
	@extend .animated-mid;

	transition: background-color 0.4s;
	padding: 0.7rem 2rem;

	&:hover {
		background-color: $c-header-bg-hover;
	}

	&:hover &-topics {
		opacity: 1;
		visibility: visible;
	}

	&-topics {
		opacity: 0;
		visibility: hidden;
		position: absolute;
		top: 0;
		left: 100%;
		width: 100%;
		height: 100%;
		z-index: zIndex(menu); // background-color: color(tertiary, light);
		background-color: $c-header-bg;
		padding: 1.5rem 0;
		padding-top: 1.3rem;

		@include max-lg {
			position: static;
			visibility: visible;
			opacity: 1;
			background: none;
			padding-left: 1.5rem;
			padding-top: 0.5rem;
			display: none;
		}

		&__item {
			@extend .animated-mid;
			padding: 0.7rem 2rem;

			&:hover {
				background-color: $c-header-bg-hover;
			}

			@include max-lg {
				opacity: 1;
				animation: none;
				padding: 0;

				&:hover {
					background: none;
				}
			}
		}
	}

	&:hover &-topics__item {
		-webkit-animation-name: fadeInLeftMargin;
		animation-name: fadeInLeftMargin;
	}

	@include max-lg {
		opacity: 1;
		padding: 0;

		cursor: pointer;
		position: relative;

		&:hover {
			background: none;
		}

		&.has-child-content {
			@include rightArrow();

			&:after {
				width: 0.8rem;
				height: 1.4rem;
				background-size: cover;
				position: absolute;
				right: 0.2rem;
				top: 0.7rem;
			}

			&.is-show {
				&:after {
					transform: rotate(90deg);
				}
			}
		}

		&__title {
			display: inline-block;
			padding: $pd-row-menu-m;
			width: 100%;
		}
	}
}

.menu-mobile {
	position: fixed;
	top: $header-height-m;
	left: 0;
	width: 28rem;
	height: 100%;
	background-color: $c-header-bg;
	z-index: zIndex(menu);
	padding: 2rem;
	transition: $transition;
	transform: translateX(-100%);

	&.is-show {
		transform: none;
	}

	&.is-show &__close-wrapper {
		opacity: 1;
		visibility: visible;
		transition-delay: .4s;
		width: 7rem;

		&:active {
			opacity: .9;
		}
	}

	.m-accordion {
		cursor: pointer;
		display: block;
		width: 100%;
		padding: $pd-row-menu-m;
		@include rightArrow();

		&.is-show {
			&:after {
				transform: rotate(90deg);
			}
		}
	}

	.m-accordion,
	.header__enable-course,
	.header-userprofile__register,
	.header-userprofile__login,
	.header-userprofile__cart {
		margin-bottom: 1rem;
	}

	&__close-wrapper {
		position: absolute;
		top: 0;
		left: 100%;
		width: 0;
		overflow: hidden;
		background-color: $c-header-bg;
		cursor: pointer;
		transition: width .4s ease-in-out;

		svg {
			fill: $c-white;
			width: 3.5rem;
		}

		@include max-sm {
			display: none;
		}
	}

	&__close {
		width: 7rem;
		height: 7rem;
		display: flex;
		align-items: center;
		justify-content: center;
	}
}

.icon-logo-3 {
    .path1:before {
        content: "\e916";
        color: rgb(190, 30, 45);
      }
      .path2:before {
        content: "\e917";
        margin-left: -0.8974609375em;
        color: rgb(190, 30, 45);
      }
      .path3:before {
        content: "\e918";
        margin-left: -0.8974609375em;
        color: rgb(190, 30, 45);
      }
      .path4:before {
        content: "\e919";
        margin-left: -0.8974609375em;
        color: rgb(190, 30, 45);
      }
      .path5:before {
        content: "\e91a";
        margin-left: -0.8974609375em;
        color: rgb(45, 43, 112);
      }
      .path6:before {
        content: "\e91b";
        margin-left: -0.8974609375em;
        color: rgb(45, 43, 112);
      }
      .path7:before {
        content: "\e91c";
        margin-left: -0.8974609375em;
        color: rgb(45, 43, 112);
      }
      .path8:before {
        content: "\e91d";
        margin-left: -0.8974609375em;
        color: rgb(190, 30, 45);
      }
}