- var loggedIn = true
header.header(class= loggedIn === true ? "header--logged-in" : "header--not-logged-in")
    - var categories = ['công nghệ thông tin', 'tin học văn phòng', 'thiết kế', 'marrketing', 'Sale, bán hàng', 'kinh doanh', 'sức khỏe'];
    .hamburger-icon.d-lg-none
        i.icon-Menu-1
    .menu-mobile.d-lg-none
        .menu-mobile__close-wrapper
            .menu-mobile__close
                svg(xmlns='http://www.w3.org/2000/svg', viewBox='0 0 44 22')
                    g#Layer_2(data-name='Layer 2')
                        g#Arrows
                        g(id='Left_Arrow_1_2x.png', data-name='Left Arrow 1@2x.png')
                            path(d='M43,10H3.41l8.29-8.29A1,1,0,1,0,10.29.29l-10,10a1,1,0,0,0,0,1.41l10,10a1,1,0,1,0,1.41-1.41L3.41,12H43a1,1,0,0,0,0-2Z')
    a(href="#").header__logo
        i.icon-Artboard-1
            span.path1
            span.path2
            span.path3
            span.path4
            span.path5
            span.path6
            span.path7
            span.path8
    nav.header__categories-trigger
        i.icon-Menu-1
        span.m-accordion Danh mục
        .categories-wrapper
            ul.categories
                each val in categories
                    li.category.has-child-content
                        span.category__title= val
                        ul.category-topics
                            li.category-topics__item #[a(href="#")= val]
                            li.category-topics__item #[a(href="#")= val]
                            li.category-topics__item #[a(href="#")= val]
                            li.category-topics__item #[a(href="#")= val]
                            li.category-topics__item #[a(href="#")= val]
    .header__search-container
        input(type="text" placeholder="Tìm khoá học mà bạn quan tâm")
    a(href="#").header__enable-course
        i.icon-Unlocked
        | Kích hoạt khoá học
    .header-userprofile
        if loggedIn
            a(href="#").header-userprofile__cart 
                i.icon-items-in-cart-21772
                span Giỏ hàng
                .header-userprofile__cart__number 5
            .dropdown.dropdown--circle-img.dropdown--align-right
                button.dropdown__img
                    img(src="images/profile-pic.png", alt="")
                i.icon-arrow-down
                .dropdown-menu(aria-labelledby='dropdownMenuButton')
                    a.dropdown-menu__item(href='#') Action lorem ipsum
                    a.dropdown-menu__item(href='#') Another action Another action
                    a.dropdown-menu__item(href='#') Something else here Another action
        else
            a(href="#").header-userprofile__register Đăng Ký
            a(href="#").header-userprofile__login Đăng Nhập
            a(href="#").header-userprofile__cart 
                i.icon-items-in-cart-21772
                span Giỏ hàng
                .header-userprofile__cart__number 5
