.payment-methods {
	@include whiteCard;
	padding: 3rem 1.5rem;

	.payment-choose-text {
		@include textBodyBig;
		margin-bottom: 3rem;
	}
}

.payment-method {
	display: flex;
	border: .1rem solid #E5E5E5;
	padding: 3.5rem 1.5rem;
	position: relative;
	margin-top: 2rem;
	cursor: pointer;

	&__img {
		width: 16rem;
		text-align: center;
	}

	&__brief {
		width: calc(100% - 21rem);

		p {
			@include textBodyBig;
		}
	}

	&__expand-icon {
		position: absolute;
		right: 3rem;
		top: 50%;
		transition: $transition;

		img {
			width: 3rem;
			opacity: .4;
		}
	}

	&.active &__expand-icon {
		transform: rotate(180deg);
	}
}

.sidebar-payment {
	.text-big {
		font-weight: fontWeight(medium);
	}

	&__total {
		padding-bottom: 2rem;
		border-bottom: .1rem solid rgba(221, 221, 221, 1);
	}

	&__detail {
		padding-top: 3rem;
		border-bottom: .1rem solid rgba(221, 221, 221, 1);

		&-row {
			display: flex;
			margin-bottom: 2rem;

			&__course {
				color: color(tertiary, light);
				padding-top: .3rem;
			}

			&__price {
				text-align: right;
				margin-left: auto;
				flex: 0 0 9rem;

				&__sale {
					@include textBodyBig;
					font-weight: fontWeight(medium);
				}

				&__original {
					color: color(tertiary, light);
					text-decoration: line-through;
				}
			}
		}
	}

	&-total-price {
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding-top: 2rem;

		.price {
			font-size: 1.8rem;
			color: color(primary, main);
			font-weight: fontWeight(medium);
		}
	}
}

.sidebar-right {
	.coupon-links {
		margin-top: 2rem;
	}
}

.payment-method-detail {
	padding: 3rem $grid-gutter-width/2;
	background-color: #EBEBEB;
	display: none;

	p {
		margin-bottom: 2rem;
	}

	.form-group {
		margin-bottom: 2.5rem;
	}

	.btn {
		width: auto;
	}

	.google-captcha {
		margin-bottom: 3rem;
	}
}