.payment-methods
    p.payment-choose-text Chọn phương thức thanh toán
    .payment-method-wrapper
        .payment-method.cards
            .payment-method__img
                img(src="images/card.svg", alt="")
            .payment-method__brief
                p Thanh toán online bằng thẻ ngân hàng
                ul
                    li - Nhận khoá học ngay lập tức
                    li - Áp dụng với đa số các ngân hàng nội địa
            .payment-method__expand-icon
                img(src="images/expand_more.svg", alt="")
        .payment-method-detail
            p Điền thông tin của bạn
            .row
                .col-md-6
                    .form-group
                        label Họ và tên
                        input(type="text" placeholder="Nguyễn Văn A")
                .col-md-6
                    .form-group
                        label Email
                        input(type="email" placeholder="Long@gmail.com")
                .col-md-6
                    .form-group
                        label Số điện thoại
                        input(type="text" placeholder="0912345678")
            p Chọn loại thẻ *
            .row
                .col-md-6
                    .form-group
                        label.rounded-box(for="atm-cards")
                            input#atm-cards(type="radio" name="payment-method")
                            .rounded-box__checkbox
                            | Thẻ ATM nội địa
                        label.rounded-box(for="cod-delivery")
                            input#cod-delivery(type="radio" name="payment-method")
                            .rounded-box__checkbox
                            | Thanh toán bằng thẻ quốc tế VISA, MASTER, JCB...
            +button('Thanh toán')
    .payment-method-wrapper
        .payment-method.cod
            .payment-method__img
                img(src="images/delivery-man.svg", alt="")
            .payment-method__brief
                p Giao mã khoá học và thu tiền tận nơi
                ul
                    li - Giao khoá học trong khoảng 3-7 ngày làm việc
                    li - Thanh toán với nhân viên giao vận khi nhận khoá học
            .payment-method__expand-icon
                img(src="images/expand_more.svg", alt="")
        .payment-method-detail
            p Vui lòng điền thông tin giao vận *
            .row
                .col-md-6
                    .form-group
                        label Họ và tên
                        input(type="text" placeholder="Nguyễn Văn A")
                .col-md-6
                    .form-group
                        label Tỉnh / Thành phố
                        select(name="city")
                            option Hà Nội
                            option Hải Dương
                            option Đà Nẵng
                .col-md-6
                    .form-group
                        label Email
                        input(type="email" placeholder="Long@gmail.com")
                .col-md-6
                    .form-group
                        label Quận / huyện
                        select(name="city")
                            option Hà Nội
                            option Hải Dương
                            option Đà Nẵng
                .col-md-6
                    .form-group
                        label Số điện thoại
                        input(type="text" placeholder="0912345678")
                .col-md-6
                    .form-group
                        label Địa chỉ
                        input(type="text" placeholder="34 Trần Duy Hưng ")
            p * Vui lòng tích vào ô bên dưới trước khi hoàn thành.
            .row
                .col-md-6
                    .google-captcha google captcha placeholder
            +button('Đặt hàng')
