@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?wcvia9');
  src:  url('fonts/icomoon.eot?wcvia9#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?wcvia9') format('truetype'),
    url('fonts/icomoon.woff?wcvia9') format('woff'),
    url('fonts/icomoon.svg?wcvia9#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-Artboard-1 .path1:before {
  content: "\e916";
  color: rgb(190, 30, 45);
}
.icon-Artboard-1 .path2:before {
  content: "\e917";
  margin-left: -0.8974609375em;
  color: rgb(190, 30, 45);
}
.icon-Artboard-1 .path3:before {
  content: "\e918";
  margin-left: -0.8974609375em;
  color: rgb(190, 30, 45);
}
.icon-Artboard-1 .path4:before {
  content: "\e919";
  margin-left: -0.8974609375em;
  color: rgb(190, 30, 45);
}
.icon-Artboard-1 .path5:before {
  content: "\e91a";
  margin-left: -0.8974609375em;
  color: rgb(45, 43, 112);
}
.icon-Artboard-1 .path6:before {
  content: "\e91b";
  margin-left: -0.8974609375em;
  color: rgb(45, 43, 112);
}
.icon-Artboard-1 .path7:before {
  content: "\e91c";
  margin-left: -0.8974609375em;
  color: rgb(45, 43, 112);
}
.icon-Artboard-1 .path8:before {
  content: "\e91d";
  margin-left: -0.8974609375em;
  color: rgb(190, 30, 45);
}
.icon-facebook:before {
  content: "\e911";
  color: #4c4c4c;
}
.icon-gplus:before {
  content: "\e912";
  color: #4c4c4c;
}
.icon-insta:before {
  content: "\e913";
  color: #4c4c4c;
}
.icon-skype:before {
  content: "\e914";
  color: #4c4c4c;
}
.icon-tw:before {
  content: "\e915";
  color: #4c4c4c;
}
.icon-badge-13:before {
  content: "\e90c";
}
.icon-clock:before {
  content: "\e910";
}
.icon-items-in-cart-21772:before {
  content: "\e90a";
}
.icon-logo2:before {
  content: "\e909";
}
.icon-ic_school_48px:before {
  content: "\e90b";
}
.icon-logo:before {
  content: "\e90d";
}
.icon-send-2:before {
  content: "\e90e";
}
.icon-users-solid:before {
  content: "\e90f";
}
.icon-envelope-line:before {
  content: "\e900";
}
.icon-map-marker-line:before {
  content: "\e901";
}
.icon-md-star:before {
  content: "\e902";
}
.icon-md-star-half:before {
  content: "\e903";
}
.icon-md-star-outline:before {
  content: "\e904";
}
.icon-Menu-1:before {
  content: "\e905";
}
.icon-phone-handset-line-2:before {
  content: "\e906";
}
.icon-Search:before {
  content: "\e907";
}
.icon-Unlocked:before {
  content: "\e908";
}
