doctype html
html.no-js(lang='')
  include ../partials/head 
  body
    <!--[if lt IE 10]>
      p.browserupgrade You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.
    <![endif]-->
    include ../mixins/index
    .wrapper-container.no_header_footer_layout
      .wrapper
        .main-content
          block content
    .lightbox-overlay
    include ../partials/bottom