doctype html
html.no-js(lang='')
  include ../partials/head
  body
    <!--[if lt IE 10]>
      p.browserupgrade You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.
    <![endif]-->
    include ../mixins/index
    .wrapper-container
      include ../partials/header/header
      .wrapper.layout-sidebar.left
        .main-content
            .layout-sidebar-brief
                .container
                    .row
                        .col-md-8.col-lg-9.offset-md-4.offset-lg-3.layout-sidebar-left-brief
                            block sidebarBrief
            .container
                .row
                    .col-md-4.col-lg-3.sidebar-left
                        block leftSidebar
                    .col-md-8.col-lg-9.right-content
                        block content
      include ../partials/footer/footer
    .lightbox-overlay
    include ../partials/bottom
