doctype html
html.no-js(lang='')
  include ../partials/head
  body
    <!--[if lt IE 10]>
      p.browserupgrade You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.
    <![endif]-->
    include ../mixins/index
    .wrapper-container
      include ../partials/header/header
      .wrapper.layout-sidebar.right
        .main-content
            .layout-sidebar-brief
                .container
                    block sidebarBrief
            .container
                .row
                    .col-md-8.col-lg-9.left-content
                        block content
                    .col-md-4.col-lg-3.sidebar-right
                        block rightSidebar
      include ../partials/footer/footer
    .lightbox-overlay
    include ../partials/bottom
