.hero-banner {
    position: relative;
    .hero-banner__img {
        width: 100%;
    }
    h1 {
        font-weight: fontWeight(bold);
        text-transform: uppercase;
        color: $c-page-heading;
        margin-bottom: 3rem;
        opacity: 0;
        @include max-md {
            margin-bottom: 1.5rem;
        }
    }
    ul {
        list-style-type: none;
        margin: 0;
        margin-top: 1.5rem;
        padding: 0;
        max-width: 38rem;
        width: 100%;
        display: flex;
        justify-content: space-between;
        @include max-md {
            margin-left: auto;
            margin-right: auto;
        }
        li {
            display: inline-block;
            font-size: 1.2rem;
            font-weight: fontWeight(regular);
        }
    }
    &-content {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        @include max-md {
            text-align: center;
            position: static;
            transform: none;
            margin-top: 2rem;
        }
        &__input {
            width: 38rem; 
            margin-right: 2rem;
            padding-left: 4.2rem;
            @include max-md {
                margin-right: 0;
                max-width: 100%;
            }
        }
        &-input-container {
            position: relative;
            display: inline-block;
            @include max-md {
                margin-bottom: 1rem;
                max-width: 100%;
            }
            &:before {
                position: absolute;
                top: 50%;
                left: 15px;
                transform: translateY(-50%);
                @include searchIcon;
            }
        }   
    }
}