section.hero-banner
    img(src="images/landing/hero-banner.jpg", alt="").hero-banner__img
    .hero-banner-content.container
        h1 Chinh phục bản thân của bạn
        .hero-banner-content-input-container
            input(type="text" placeholder="Tìm khoá học mà bạn quan tâm").hero-banner-content__input
        a(href="#").btn.btn--primary.btn--text-white THAM GIA NGAY
        ul
            li 200,000+ học viên
            li 800+ khóa học
            li 400+ giảng viên