section.section.section--no-space-bottom.top-courses
    .container
        h2.section__title Top khóa học phổ biến
        .row
            .col-md-8.delay-0
                .top-courses__main-img-wrapper.animated(animated-class="reveal")
                    img(src="images/landing/main-article-img.jpg", alt="").top-courses__main-img
            .col-md-4.col-sm-6.animated.delay-3
                +article("Lorem Ipsum is simply dummy text of the", "tate culpa reiciendis nesciunt voluptatem asperiores necessitatibus cumque? Delectus neque blanditiis facere cum accusantium!")
            .col-md-4.col-sm-6.animated.delay-0
                +article("This is the title with 2 line, This is the title with 2 line", " Lorem ipsum dolor sit amet consectetur, adipisicing elit. Possimus quia, suscipit ratione aut at nulla recusandae")
            .col-md-4.col-sm-6.animated.delay-1
                +article("This is the title with 3 line, This is the title with 3 line, This is the title with 3 line, This is the title with 3 line", " Lorem ipsum dolor sit amet consectetur, adipisicing elit. Possimus quia, suscipit ratione aut at nulla recusandae cupiditate culpa reiciendis nesciunt voluptatem asperiores necessitatibus cumque? Delectus neque blanditiis facere cum accusantium!")
            .col-md-4.col-sm-6.animated.delay-2
                +article("article title", " Lorem ipsum dolor sit amet consectetur, adipisicing elit. Possimus quia, suscipit ratione aut at nulla recusandae cupiditate")
