.top-courses {
    &__main-img-wrapper {
        position: relative;
        &:before {
            content: '';
            position: absolute;
            top: 0;
            right: 0;
            width: 100%;
            height: 100%;
            background-color: $c-body-background;
            transition: $transition-slow;
        }
    }
    &__main-img {
        @include max-md {
            margin-bottom: 2rem;
        }
    }
}